[2020-04-03 07:45] MarlonMaercz opened #1 "Rename "tokens" to "Smart Points" in Admin Portal"
rename everywhere.
Can be assigned to any frontend-er.

[2020-04-03 08:55] MarlonMaercz opened #2 "Update MAVN Supply Widget to Number of Vouchers"
Implementation tasks:
1) OpenMAVN/MAVN.Service.SmartVouchers#1
2) OpenMAVN/MAVN.Service.AdminAPI#5
3) [Frontend] https://github.com/OpenMAVN/MAVN.FrontEnd.BackOffice/issues/33

The number of tokens should be changed to number of voucher
![image](https://user-images.githubusercontent.com/11960985/78758188-6842ac80-7986-11ea-8141-f9d2cf4b0263.png)

[2020-04-03 09:13] MarlonMaercz opened #3 "Hide irrelevant sections on Dashboard Page in the Admin Portal"
For first release, the following sections should be changed on the dashboard page:
 Hide "Wallet's Balance, MVN" and "Total Referrals"
 Hide "Earn, Top 5 Partners" and "Spend, Top 5 Partners" Sections
 Hide "Top 5 Rules by Participation" widget
 Hide "Leads" Section/Graph

IMPORTANT: Sections should be hidden, not removed. Improvements to these sections will be proposed in separate issues.

[2020-04-03 09:34] MarlonMaercz opened #4 "Changes to Customers Section in Admin Portal"
On the Customers section in the Admin Portal:
- Rename "List of customers in referral program" to "List of customers in OpenMAVN program"
- Hide Phone Number Column
- Hide Email Verified Column
- Hide Phone Verified Column
- Hide Connector Status Column
- Add Customer ID Column after Email Column

[2020-04-03 09:36] MarlonMaercz opened #5 "Rename "Action Rules" to "Campaigns" in Admin Portal Navigation Menu"

[2020-04-03 09:44] MarlonMaercz opened #6 "Changes to Customer Details in Admin Portal"
- [ ] Hide Balance
- [ ] Hide Referral Code
- [ ] Hide Is email verified
- [ ] Hide Is phone verified
- [ ] Hide Connector Status

[2020-04-03 10:02] MarlonMaercz opened #7 "Changes to Earn Action Rules Section in Admin Portal"
On the Earn Action Rules section in the Admin Portal:
- Rename Section Title from "Earn Rules" to "Earn Campaigns"
- Reword "List of Earn Rules in referral program" to "List of Earn Campaigns in OpenMAVN program"

[2020-04-03 10:10] MarlonMaercz opened #8 "Changes to Earn Campaigns Details in Admin Portal"
In Earn Rules Details page:
- Rename Title from "Earn Rules" to "Earn Campaign"
- For subtitle, rename from "Enter earn rule details" to "Enter Earn Campaign details"
- In Actions section, Filter Event field to hide any rules related to "Hospitality" and "Real Estate"
- Hide Staking Amount checkbox and text

[2020-04-03 10:14] MarlonMaercz opened #9 "Changes to Spend Action Rules Section in Admin Portal"
On the Spend Action Rules section in the Admin Portal:
- Rename "Spend Action Rules" to "Redeem Campaigns" on the Navigation Menu
- Rename Section Title from "Spend Rules" to "Redeem Campaigns"
- Reword "List of Spend Rules in referral program" to "List of Spend Rules in OpenMAVN program"

[2020-04-03 10:29] MarlonMaercz opened #10 "Create dedicated "Vouchers" Section in Admin Portal"
Create a new section in the Admin Portal.
[Update 14 Apr]: Put it right after "Campaigns" and call it "Voucher Manager"

Section should be a copy of the Spend Rules section, with the following changes:
- Navigation Menu Title renamed to "Vouchers"
- Page title renamed to "Vouchers"
- Page sub title reworded to "List of Vouchers in OpenMAVN program"
- Hide "Conversion Rate" Column
- Hide "Order" Co

[2020-04-03 11:57] MarlonMaercz opened #11 "Ability for Partners to create Vouchers Campaign"
In the Vouchers section of the Admin Portal #10 , a user should be able to create a new campaign for their vouchers.

- Rename Title from "New Spend Rule" to "New Voucher Campaign"
- Reword sub title from "Enter spend rule details" to "Enter Voucher Campaign details"
- Hide "Order in list on mobile app" field
- Hide "Business Vertical" field
- Hide "Type" field
- Hide Upload Vouchers section
- Add

[2020-04-03 13:47] MarlonMaercz opened #12 "Create individual Vouchers"
When a voucher campaign is created, usable vouchers should be created and associated with that campaign, based on the number and amount per voucher.

The voucher should contain the following parameters:
- UID
- Code - generated by UID
- InvalidationCodeHash
- Campaign ID
- Status
- Customer/Owner ID
- Redemption Date
- Purchase Date

For now, they should be stored separately in the Database
Invali

[2020-04-03 14:19] MarlonMaercz opened #13 "Changes to Program Partners Details in Admin Portal"
In the Partner Locations section on the Partner Details page:
- Hide "External ID" field
- Hide "Accounting Integration Code" field

[2020-04-03 14:30] ElenaBelyavskaya opened #14 "[Blockchain/Smart contracts] SPIKE: Analysis to move vouchers to blockchain"
The voucher contract will be based on the ERC-721 standard.

Additionally for each customer multi-sig-wallet contract will be deployed.

[2020-04-03 14:37] ElenaBelyavskaya opened #15 "[Backend] Implement Smart voucher service"

[2020-04-03 14:38] ElenaBelyavskaya opened #16 "[Backend] Admin API Update for smart vouchers"
Details in OpenMAVN/MAVN.Service.AdminAPI#1

[2020-04-03 14:39] ElenaBelyavskaya opened #17 "As a customer I want to buy a smart voucher from mobile app"
As a customer I want to buy a smart voucher from mobile app.

1. Vouсher campaign details page must have 'Buy voucher' button*, that will trigger the voucher buying process with a call to CustomerAPI.
2. CustomerAPI must return a URL to the payment page.
3. Mobile app must open the browser app on the user device with this URL, so the payment process can be done in a safe environment.
4. After paym

[2020-04-03 14:40] ElenaBelyavskaya opened #18 "[Backend] Partner API Update (?)"
TBC

[2020-04-03 14:45] MarlonMaercz opened #19 "Disable Settings and Management sections in the Admin Portal"
In the Admin Portal Navigation Menu, "System Settings" and "My Profile" sections should be disabled from being accessed.

Intended functionality:
User clicks on the System Settings or My Profile Navigation items, and the button is unresponsive and does not link to any page.

[2020-04-03 14:48] ElenaBelyavskaya opened #20 "Prepare Github Repos for Open source development"

[2020-04-03 14:49] ElenaBelyavskaya opened #21 "Update license files (remove Emaar ones where needed)"

[2020-04-03 14:49] ElenaBelyavskaya opened #22 "Add onboarding documentation"

[2020-04-03 14:54] ElenaBelyavskaya opened #23 "Investigate Payment Providers"
E.g. Stripe
---
Some info:
Stripe is a payments processor for thousands of online businesses worldwide. If you want to see some of the businesses that use Stripe, you can have a look here:
https://stripe.com/gallery
Marketplace solution: https://stripe.com/en-ch/marketplaces

UPDATE:
1. https://www.payrexx.com/ (Swiss), Viktor is in discussion of integration with them
2. We have info from Marina a

[2020-04-06 08:22] MarlonMaercz opened #24 "Disable SMS verification in mobile app registration"
Current behavior
When registering in the mobile app, a user currently needs to verify their account via sms and email.

Intended behavior:
For first release, SMS functionality should be disabled. A user can register using their name and email, and can log in with those credentials after verifying their email address.

[2020-04-06 08:23] MarlonMaercz opened #25 "Ability to register using Facebook in the mobile app"

[2020-04-06 08:23] MarlonMaercz opened #26 "Ability to register using Google in the mobile app"

[2020-04-06 08:33] MarlonMaercz opened #27 "As a customer I want to filter offers in the mobile app by customer location"
As a user, I want to be able to see offers in teh mobile app based on my location

**Acceptance Criteria:**
**1. View offers based on location**
**Given** I am a customer
**When** I click on the Offers page on the mobile app
**Then** I am prompted to allow location services.
**When** I accept location services
**Then** I am presented with a list of vouchers available around me sorted by proximity

[2020-04-06 12:19] nanastasov commented on #3
I will take this task

[2020-04-06 12:51] MarlonMaercz opened #28 "Admin Portal Translation to German"
generate up-to-date file messages.generated.xlf (it has XLIFF 1.2 format) by command
ng xi18n --i18n-format=xlf --i18n-locale en-US --out-file messages.generated.xlf --output-path locale
translate messages.generated.xlf into messages.de-de.generated.xlf
create configuration for german in angular.json, dockerfile and nginx

[2020-04-06 13:04] vitaliidasaev commented on #28
Need to do:
- to review all places where we don't have and fix them
- generate up-to-date file messages.generated.xlf (it has XLIFF 1.2 format) by command
ng xi18n --i18n-format=xlf --i18n-locale en-US --out-file messages.generated.xlf --output-path locale
- translate messages.generated.xlf into messages.de-de.generated.xlf
- create configuration for german in angular.json, dockerfile and nginx

[2020-04-06 13:04] vitaliidasaev commented on #28
example
[messages.generated.zip](https://github.com/OpenMAVN/PM/files/4438527/messages.generated.zip)

[2020-04-06 13:15] MarlonMaercz commented on #28
thanks @vitaliidasaev,
1. Is there an easy way to extract only the "< source >" to make it easier to translate?
2. Is there a separate file for the tooltips? Those will also need to be translated.

[2020-04-07 07:35] dmkuchynski commented on #13
i want to pick up this task

[2020-04-07 08:18] ataranishin commented on #9
Please assign to me

[2020-04-07 09:00] #7 closed

[2020-04-07 10:03] dmkuchynski commented on #13
@MarlonMaercz do we need to remove or just hide these fields?

[2020-04-07 10:17] MarlonMaercz commented on #13
@dmkuchynski Please just hide for now. We may remove in the future or convert those fields to relevant ones.

[2020-04-07 10:34] ataranishin commented on #8
Assign to me please

[2020-04-07 12:04] dmkuchynski commented on #19
i can pick up this ticket

[2020-04-07 12:44] dmkuchynski commented on #13
@MarlonMaercz also need to allow add/edit without these fields on backend side

[2020-04-07 12:53] MarlonMaercz commented on #13
@dmkuchynski is it because they are mandatory fields? For any backend required work @starkmsu can help out.

[2020-04-07 15:18] #3 closed

[2020-04-07 15:19] #19 closed

[2020-04-07 15:36] vitaliidasaev commented on #13
commented PR, for now better to preserve sending required fields to avoid changes on backend

[2020-04-07 22:54] viandreas commented on #28
Lets go step by step and at least get the most important parts translated.
Where can I do that?

@vitaliidasaev @MarlonMaercz

[2020-04-07 22:57] viandreas opened #29 "Integrate Payrexx as a payment solution"
Payrexx is offering a service called "Plattform" it allows us to collect payment on the app and send it directly to the bank account to the recipient, for example, the voucher issuer.

Here the documentation:
https://developers.payrexx.com/

@MarlonMaercz @ElenaBelyavskaya
We need to understand from Payrex how to get onboarded.

This is a high prior task as we won't be able to launch without payme

[2020-04-08 06:57] PaterSantyago commented on #20
Need to create GitHub Actions based workflow for smart contracts to complete preparation

[2020-04-08 07:24] #4 closed

[2020-04-08 07:24] #6 closed

[2020-04-08 07:56] starkmsu opened #30 "[Backend] Smart vouchers service - expose endpoint to get a total number of possible vouchers under voucher campaigns"

[2020-04-08 07:58] #9 closed

[2020-04-08 08:00] #8 closed

[2020-04-08 08:25] ataranishin commented on #11
Assign to me

[2020-04-08 09:28] vitaliidasaev opened #31 "POC of registration page for partners [without backend now]"
need a simpe REGISTRATION page for the Small Business/PARTNER on the current login page
Email, password. They should have to upload logo and pick a company colour before they can publish campaigns.
So the mobile UI can render the vouchers properly.

[2020-04-08 10:33] vitaliidasaev commented on #31
assign to @nickanastasov

[2020-04-08 10:38] vitaliidasaev commented on #10
Section with mocked data in the list added, waiting for backend to continue further development.

[2020-04-08 11:35] nickanastasov commented on #31
I will take this.

[2020-04-08 11:35] nickanastasov commented on #31
I will take this task.

[2020-04-08 12:59] dmkuchynski commented on #1
i can pick up this ticket

[2020-04-08 13:00] vitaliidasaev opened #32 "Update to Angular 9"

[2020-04-08 13:00] dmkuchynski commented on #32
pls assign this ticket to me

[2020-04-08 13:03] #13 closed

[2020-04-08 16:27] vitaliidasaev opened #33 "Autofill demo admin credentials"
Put login and password to settings
The credentials are available here: https://github.com/OpenMAVN/Welcome/wiki/Environments

[2020-04-08 17:55] #33 closed

[2020-04-09 06:50] MarlonMaercz commented on #14
@PaterSantyago Can you share your findings and conclusions on this Issue?

[2020-04-09 07:33] #20 closed

[2020-04-09 07:34] #23 closed

[2020-04-09 07:39] #15 closed

[2020-04-09 07:59] ElenaBelyavskaya opened #34 "[Admin] Hide Conversion Rate in Program Partners and Redeem Campaigns grid"
These columns should be hidden (conversion rate cannot be defined via UI at the moment, so the columns don't make sense):
![image](https://user-images.githubusercontent.com/62890062/78871916-bcae6080-7a48-11ea-9c7f-d63afe9ab180.png)

![image](https://user-images.githubusercontent.com/62890062/78875980-fd10dd00-7a4e-11ea-83be-c11b8f8c3c5f.png)

[2020-04-09 08:19] ElenaBelyavskaya opened #35 "[Admin] Rename subtitles of some pages"
We need to adjust some of subtitles according to the changes in the portal:
1) Dashboard page: "Statistics and analytics"
2) Redeem Campaign page: "List of redeem campaigns in OpenMAVN program"
3) Program Partners page: "List of partners in OpenMAVN program"
4) Blockchain Operations page: "List of blockchain operations in OpenMAVN program"
5) Transactions page: "List of transactions in OpenMAVN pr

[2020-04-09 08:49] ElenaBelyavskaya opened #36 "[Admin] Rename "tokens" to "Smart Points" in Admin Portal #2"
Rename in the highlighted places:
- "Smart points" instead of "Tokens"/"Bonus points"
- "SP" instead of "MVN"

![image](https://user-images.githubusercontent.com/62890062/78874463-b7ebab80-7a4c-11ea-98e2-fad0a75cc8f7.png)

![image](https://user-images.githubusercontent.com/62890062/78876927-62b19900-7a50-11ea-965d-dc8d06956933.png)

![image](https://user-images.githubusercontent.com/62890062/78874

[2020-04-09 08:52] dmkuchynski commented on #36
plas assign to me

[2020-04-09 09:45] vitaliidasaev commented on #34
@nickanastasov please comment issue in order i could assign to you

[2020-04-09 09:45] vitaliidasaev commented on #35
@nickanastasov please comment issue in order i could assign to you

[2020-04-09 10:03] nanastasov commented on #34
I will take this task.

[2020-04-09 10:04] nanastasov commented on #35
I will take this task.

[2020-04-09 10:05] vitaliidasaev opened #37 "Remove the word "TOKEN""
remove the word "TOKEN"
![image](https://user-images.githubusercontent.com/11960985/78882096-559ca600-7a60-11ea-860e-dc129a2b9b2e.png)

[2020-04-09 10:07] #37 closed

[2020-04-09 10:16] #1 closed

[2020-04-09 10:26] #34 closed

[2020-04-09 11:07] ElenaBelyavskaya opened #38 "[Admin] Renaming Rules to Campaigns in the admin portal"
In the places highlighted below, "rules" ("action rules") should be replaced with "campaigns":

![image](https://user-images.githubusercontent.com/62890062/78887609-76fd9200-7a60-11ea-85ee-429c0165e212.png)

![image](https://user-images.githubusercontent.com/62890062/78886439-7d8b0a00-7a5e-11ea-97b9-e53a4c40894f.png)
(and accordingly for the Edit page)

![image](https://user-images.githubuserconte

[2020-04-09 11:10] vitaliidasaev commented on #38
@nickanastasov please comment to be assignable

[2020-04-09 12:00] #35 closed

[2020-04-09 13:41] nanastasov commented on #38
I will take this task.

[2020-04-09 14:14] #36 closed

[2020-04-09 14:16] #38 closed

[2020-04-09 15:26] IliyanIlievPH commented on #16
Admin API settings should be updated before deployment. Add URL for SmartVouchers service

[2020-04-10 07:18] #14 closed

[2020-04-10 08:05] vitaliidasaev commented on #11
@kslonik21 after this task will be deployed https://github.com/OpenMAVN/PM/issues/16.
You can start to combine with backend - the new api methods can be found here https://admin-api.mavn.ch/swagger/ui/index.html

[2020-04-10 08:08] starkmsu opened #39 "[Backend] Introduce a feature setting to disable phone verification"
These are required updates in backend components:
1) OpenMAVN/MAVN.Service.CustomerProfile#8
2) OpenMAVN/MAVN.Service.BonusTriggerAgent#7
3) OpenMAVN/MAVN.Service.AdminAPI#3

[2020-04-10 08:37] vitaliidasaev commented on #28
Used trial of https://crowdin.com/ to translate.

[2020-04-10 09:15] #28 closed

[2020-04-10 09:24] vitaliidasaev opened #40 "Fix untranslated string places"
Review all places where we don't have translations and update.

Use this command to run german version locally - https://github.com/OpenMAVN/MAVN.FrontEnd.BackOffice/blob/master/README.md#i18n

Depends on https://github.com/OpenMAVN/PM/issues/28

[2020-04-10 09:25] vitaliidasaev commented on #40
@nickanastasov please comment to assign to you.

[2020-04-10 11:32] ElenaBelyavskaya opened #41 "Prepare admin portal to work with SME partners"
As a registered Partner of the platform, I want to have access to the admin tool related to my participation in the program.

When a partner logs in, the following sections and features should be available:

DASHBOARD: availability of data only related for this partner
- Hide Repeat customers section,
- Show New/Active/Repeat Customers filtered for partner
- Show Transactions figures related to th

[2020-04-10 11:40] ElenaBelyavskaya commented on #41
Related to https://github.com/OpenMAVN/PM/issues/31

[2020-04-10 12:00] ElenaBelyavskaya commented on #31
We have Vertical as a mandatory parameter for Partners; not to make partner registration more complex, we can set Vertical as _Retail_ by default, during the registration (when registered, partners can then adjust this if needed)

[2020-04-10 12:06] vitaliidasaev commented on #41
@starkmsu @PaterSantyago please review current flow and create appropriate related issues for backend.

[2020-04-10 12:07] vitaliidasaev commented on #41
maybe we can sync on this on Monday

[2020-04-13 08:39] nanastasov commented on #40
I will take this task.

[2020-04-13 10:17] starkmsu commented on #12
@MarlonMaercz , current implementation of SmartVouchers service creates a new individual voucher only when it is bought by a customer. No pre-generated individual vouchers are required. So I suggest to close this task, unless there is some good reason to pre-create individual vouchers.

[2020-04-13 10:25] vitaliidasaev commented on #11
@kslonik21 Admin API deployed, there are new api methods
`SmartVouchers`, `VoucherCampaigns` here https://admin-api.mavn.ch/swagger/ui/index.html

[2020-04-13 12:23] starkmsu opened #42 "As a partner I want to be able to register in the system"
Need implement REGISTRATION feature for the Small Business/PARTNER on the current login page of Admin Portal.

For this we need:
1) After SME self-registration, corresponding admin user is created with limited permissions
2) For created admin we auto-create a partner (with the name filled during the registration)
3) We need to make the following fields required for initial partner registration:
-

[2020-04-14 07:15] ElenaBelyavskaya commented on #42
@starkmsu On initial registration, let's verify phone numbers instead of email? Emails are easier created/multiplied and therefore easier faked than phone numbers. Is there a reason not to use sms services?
Also I suggest we add Company Name field - so that we could create partner with this name right after the registration.

[2020-04-14 07:32] #16 closed

[2020-04-14 07:32] #39 closed

[2020-04-14 09:54] MarlonMaercz commented on #12
@starkmsu The details listed above are still relevant for voucher creation though, regardless if they are created in advance or upon purchase.

When you created SmartVouchers service, did you take the details mentioned above (voucher parameters, storage) into account? If so please link the story and we can close the task if all required actions have been taken in another issue.

[2020-04-14 12:43] ElenaBelyavskaya opened #43 "Publishing of voucher campaigns should be available for partners only after all required fields are filled"
Partners should be able to publish campaigns only after they have provided all information necessary to operate in the platform.

**AC's**
1. Requirements to publish voucher campaigns:
- All currently existing mandatory fields for my Organization profile are filled
- Payment integration details (API Key, Instance Name) are filled
- Number of vouchers must be greater than 0
- Price of Voucher can b

[2020-04-14 13:02] starkmsu commented on #12
@MarlonMaercz , all thee fields are present in individual voucher properties, MAVN.Service.SmartVouchers was implemented under OpenMAVN/PM#15

[2020-04-14 13:10] lAnubisl commented on #22
Can this be assigned to me?
Where should I start working? Shared word document?

[2020-04-14 13:15] ElenaBelyavskaya opened #44 "Remove redundant fields from the partner page"
Hide generated credentials (hide the fields and icons highlighted below) from the New Partner page:
![image](https://user-images.githubusercontent.com/62890062/79227145-c3c9da00-7e5f-11ea-80fe-2edda571093c.png)

[2020-04-14 13:25] ElenaBelyavskaya commented on #41
Modification of campaigns should be available for partners only after all required fields are filled - #43
Reconsider the Partner credentials flow #44

[2020-04-14 18:49] starkmsu commented on #29
Payment flow (happy path):
1. Customer requests for payment from mobile app, it's forwarded to CustomerAPI
2. SmartVouchers component (SV) reserves smart voucher for this customer
3. PaymentManagement component (PM) is called to get payment request info from SV
4. PM maps the call to payment integration plugin component (plugin) that knows Payrexx integration details
5. Plugin sends generated Succ

[2020-04-14 19:03] starkmsu commented on #29
Payment flow (fail cases):
2.b - SV can't reserve a voucher for required campaign.
Corresponding error code is returned from CustomerAPI to mobile app

5.b - Payrexx is unavailable
Error code is returned back through the pipeline: plugin -> PM -> SV -> CustomerAPI

8.b - for some reason mobile app is unable to open the payment page in the browser
Customer can cancel payment process from mobile app

[2020-04-14 19:04] starkmsu commented on #29
@MarlonMaercz , @ElenaBelyavskaya, @vitaliidasaev, @PaterSantyago , please review described flows.

[2020-04-14 20:47] viandreas commented on #29
Would it help to get technical support from Payrexx?

I have a call with their CEO this week...

 Viktor Andreas
 Executive Director

 Phone: +41 78 845 82 59
 Email: viktor.andreas@lykke.com
 Website: *www.lykke-business.ch/ <https://lykke-business.ch/>*

On Tue, Apr 14, 2020 at 9:04 PM Sergey Nesterov <notifications@github.com>
wrote:

[2020-04-15 06:51] ElenaBelyavskaya commented on #42
I propose that we:
1) Include the following fields on the partner onboarding page:
- Company name
- Phone number
- Password (+ Confirm Password)
2) Make verification via the phone number
3) Allow publishing campaigns only after the partner has filled all the other mandatory fields including scan of a document as partner ID (for the document I will investigate a bit more; ideally potential partners

[2020-04-15 07:09] #40 closed

[2020-04-15 07:33] #12 closed

[2020-04-15 07:40] PaterSantyago commented on #18
Redundant issue

[2020-04-15 07:40] #18 closed

[2020-04-15 08:08] MarlonMaercz opened #45 "Set up email service to send out messages"
**Current Behavior:**
OpenMAVN is currently only using a mocked service to send emails.

**Required Behavior:**
A proper service is needed to send out emails (e.g. email verification, notification emails, newsletters, etc.) to customers and SME's.

The proposed service is SendGrid due to it's known compatibility with our system.

**Acceptance Criteria**
1. Email service is set up and can be used b

[2020-04-15 08:08] MarlonMaercz commented on #45
@thelittledevops can you please add some required details about what is required to get email service up and running?

[2020-04-15 08:26] MarlonMaercz commented on #15
Issue was completed as part of another ticket #12. Closed as the issue is no longer required.

[2020-04-15 08:27] MarlonMaercz commented on #12
Issue was completed as part of another ticket #15 . Closed as the issue is no longer required.

[2020-04-15 08:46] thelittledevops commented on #45
sendgrid emails service is supported by azure, but there are two ways of it's setup:
1. using the free or cheap tier, which has the shared ip address , which is also used by other companies, often to send advertisements and etc  and that's why our emails will get spammed
2. using the dedicated ip address , that way we can guarantee that our source ip address will not have reputation , but it will

[2020-04-16 05:10] #2 closed

[2020-04-16 05:10] #11 closed

[2020-04-16 07:46] #24 closed

[2020-04-16 13:38] #10 closed

[2020-04-17 10:44] PaterSantyago opened #46 "Implement social login into mobile app"
Add social login functionality into the MAVN mobile app for registration and authorization.

[2020-04-17 12:18] PaterSantyago opened #47 "Test issue"

[2020-04-17 12:30] PaterSantyago opened #48 "As a partner admin I want to be able to change or reset my password"
1) Add a Reset Password feature. We can implement it same way as it's done for admin users already. For this feature to work, partner should have email provided.
(!) If the partner doesn't yet have input an email, can we send a generated password to the phone number (when resetting the password)?
- The Reset Password button should be available for the partner as admin user, and also for any admin

[2020-04-17 15:04] PaterSantyago opened #49 "Smart vouchers"

[2020-04-17 15:52] PaterSantyago opened #50 "Add smart vouchers feature to the platform"

[2020-04-17 16:21] PaterSantyago commented on #42
Following tasks should be created/referenced:

1) [BE] Make parameters optional on Partner creations in AdminAPI - completed
2) [BE] FIlter by adminId for showing voucher campaigns - task for SmartVouchers service
3) [BE] Filter by adminId for partners - task for PartnerManagement service
4) [BE] Filter by adminId/partnerId for earn/burn rules - task for Campaigns service

[2020-04-20 07:46] #32 closed

[2020-04-20 07:46] #45 closed

[2020-04-20 07:52] dmkuchynski commented on #44
pls assign it to me

[2020-04-20 09:03] starkmsu opened #51 "As an SME I can't login into AdminPortal until my email is verified"
1. Email verification must be sent during new SME registration from AdminPoartal
2. Email verification link must lead to Admin Portal email verification page - the page similar to Customer Website page
3. Admin user profile must have IsEmailVerified property
- "Email Verified" column in the Admin Users grid
- Additional field "Is email verified" in the admin user details page
4. Admin login must f

[2020-04-20 16:46] starkmsu opened #52 "As a customer I want to see available voucher campaigns in mobile app"
As a customer I want to see available voucher campaigns in mobile app.
There should be paginated list of voucher campaigns in mobile app that shows active voucher campaigns.
Each voucher campaign in the list must be clickable.*
On voucher campaign click it must lead to a page with voucher campaign details:*

- Image*
- Title*
- Owner (partner)*
- Number of available vouchers*
- Voucher price*
- Da

[2020-04-20 16:51] starkmsu opened #53 "As a customer I want to see details of bought smart vouchers in mobile app"
As a customer I want to see details of bought smart vouchers in mobile app. This is a follow up story to #57

For this feature we should have a page in mobile app that will show a list of bought smart vouchers.*
1. On a voucher entry click it must show a page with smart voucher details:
- image of the voucher campaign
- short code as a unique identifier
- voucher campaign name
- voucher campaign o

[2020-04-20 17:38] starkmsu commented on #52
@marlon, @ElenaBelyavskaya , @pddimitrova , please review story description

[2020-04-20 17:43] starkmsu commented on #17
@MarlonMaercz , @ElenaBelyavskaya , @pddimitrova , please review the story description

[2020-04-20 17:46] starkmsu commented on #53
@MarlonMaercz , @ElenaBelyavskaya , @pddimitrova , please review the story description

[2020-04-21 06:52] lAnubisl commented on #22
Next steps:

- [x] 1) Take RabbitMQ local setup.
from https://docs.google.com/document/d/1UZJawnSA47umqmbNLFvmUqsqhiRB4NEA2b3zZaYrZ70/edit?usp=sharing
into separate markdown and
put it into https://github.com/OpenMAVN/Welcome as a 'rabbitmq-local-setup.md'

- [x] 2) Take Azure Storage Service local setup.
from https://docs.google.com/document/d/1UZJawnSA47umqmbNLFvmUqsqhiRB4NEA2b3zZaYrZ70/edit?usp

[2020-04-21 08:33] #44 closed

[2020-04-21 09:27] starkmsu opened #54 "As a customer I want to be able to cancel unfinished voucher payment from mobile app"
As a customer buying a voucher I want to be able to cancel a payment in progress.

1. On the page with bought smart vouchers list we should be able to see pending voucher payments.
- We need to show the Pending status for such vouchers
- We should have them under special tab in the list of vouchers: create two tabs - All and Pending; in the latter one, filter vouchers by the Pending status
2. When

[2020-04-21 09:28] starkmsu commented on #54
@MarlonMaercz , @ElenaBelyavskaya , @pddimitrova , please review this story

[2020-04-22 07:04] ElenaBelyavskaya opened #55 "Partner should be able to enter one's payment integration details in Admin Portal"
As a partner, I should be able to enter my payment integration details in AdminPortal.

1. Required payment integration details are specific for particular payment provider.
That's why AdminPortal must fetch a list of available payment providers and list of required fields for each provider.
And as a partner, I should be able to add a payment provider from available list.
2. After payment provider

[2020-04-22 07:08] ElenaBelyavskaya opened #56 "Enable SMEs to be KYC'ed in Admin Portal"
As a admin of the Admin Portal who is able to KYC SME's, I want to be able to review and confirm that an SME can create voucher campaigns, in order to ensure that fraudulent actors cannot create scam voucher campaigns.

Key points:
- Add a status for an SME for "KYC Status" with Unverified, In Review, Verified, Rejected.
- Add KYC Status as column in list of Organizations
- Disable SME's from publ

[2020-04-22 07:09] ElenaBelyavskaya opened #57 "Ability to see Bought Vouchers on the mobile app"
Vouchers Page - As a customer, I want to see vouchers that I bought in order to view their details and redeem them

1. List of vouchers should look approximately like this:
![image](https://user-images.githubusercontent.com/62890062/80182757-de424700-8607-11ea-86d4-7135dcc1fc86.png)
The list should show:
- Voucher image
- Voucher title
- Voucher price
- Issued partner name

Edit as of 19.05.2020:

[2020-04-22 07:11] ElenaBelyavskaya opened #58 "Customer should only see a list of vouchers on the Offers screen"
As a customer, I want to only see a list of vouchers on the offers screen (i.e. remove earn and redeem tabs)

1. Hide the Earn/Redeem tabs
2. Display only vouchers in the list of offers
---
Can be a sub-task for #52

[2020-04-22 07:12] ElenaBelyavskaya opened #59 "Update wording on mobile app"
Update wording on mobile app (MVN, etc.)

[2020-04-22 07:13] ElenaBelyavskaya opened #60 "Update email notifications (text)"
Update non-actual texts in email notifications

Registration email:
![image](https://user-images.githubusercontent.com/62890062/80095228-dfbc3280-8567-11ea-8903-ccd76fa4df0d.png)

Email verification:
![image](https://user-images.githubusercontent.com/62890062/80096516-ff545a80-8569-11ea-84b8-51804099e83c.png)

Password changed:
![image](https://user-images.githubusercontent.com/62890062/80095618-8

[2020-04-22 07:13] ElenaBelyavskaya opened #61 "Filter offers relevant to particular customer"
As a customer, I want to see offers that are relevant for me (filter offers)

[2020-04-22 07:14] ElenaBelyavskaya opened #62 "Geolocation for partner organization"
As a partner admin user I want to be able to input geolocation for my organizations (in Location section)

**AC's**
When editing or creating a new organization, in the Location section of the organization's page:
1. Map should be displayed:
a) Empty for new organization
b) With a mark on it for the existing organization (according to Address field)
1.1. From design point of view, map can be locate

[2020-04-22 07:15] ElenaBelyavskaya opened #63 "Select partner locations and vouchers via a map on mobile"
As a customer, I want to be able to see voucher offers on a map and select them, in order to see the offers around me in a more visual way

**Acceptance Criteria:**
**1. Open localized Map in Mobile app**
**Given** I am a customer
And I am logged into the mobile app
And I am on the offers page
And I have accepted location services #27
**When** I click on a location button on the top right of the o

[2020-04-22 07:16] ElenaBelyavskaya opened #64 "Notify customers about new offers or partners added to the platform"
As a customer, I want to be notified about new offers or partners added to the platform

[2020-04-22 07:16] ElenaBelyavskaya opened #65 "Search for vouchers"
As a customer, I want to search for vouchers

[2020-04-22 07:18] ElenaBelyavskaya opened #66 "Customer should be able to change the language of the mobile app"
As a customer, I want to change (the default) language of the mobile app if necessary

[2020-04-22 07:19] ElenaBelyavskaya opened #67 "Mobile app to be automatically set to the language of customer's device"
As a customer, I want the mobile app to be automatically set to the language of my device

[2020-04-22 07:20] ElenaBelyavskaya opened #68 "Partner to see vouchers bought by customers in Transactions section on admin portal"
As a partner, I want to see vouchers bought by customers in transaction section on admin portal

**AC**
Transaction type for vouchers should be created and voucher transactions should be shown in Transactions.

[2020-04-22 07:22] ElenaBelyavskaya opened #69 "Customer to see transactions in Transactions section on the wallet page"
As a customer,
I want to see my transactions in Transactions section on the wallet page,
In order to track my voucher purchases and redemptions.

https://projects.invisionapp.com/share/2HWW3L8EGDU#/screens/417162588
Separate tab for transactions:
https://projects.invisionapp.com/share/2HWW3L8EGDU#/screens/417162589
(we can start without additional filters, just a list of transactions)

Acceptance

[2020-04-22 07:23] ElenaBelyavskaya opened #70 "New items on Admin Dashboard"
New/updated dashboard items on Admin Dashboard (vouchers, etc.)

[2020-04-22 07:24] ElenaBelyavskaya opened #71 "Totals for Transactions table"
As a partner or admin user, I want to see totals, counts, etc. for transactions on the transaction page

[2020-04-22 07:25] ElenaBelyavskaya opened #72 "Partner details in the mobile app"
As a customer, I want to view the partner details in the mobile app

[2020-04-22 07:26] ElenaBelyavskaya opened #73 "Image for Partners"
As a partner, I want to upload an image of my business to be viewed on the mobile app

[2020-04-24 14:14] ElenaBelyavskaya opened #74 "Voucher Management: UI enhancements"
1. Columns of the Voucher Campaigns grid:
- Currency - hide the column (since we only have one currency at the moment)
- Voucher Price - rename to "Price, CHF"
2. New Voucher Campaign page:
- Start Date, End Date drop-downs should not allow selecting dates in the past (please disable dates before _today_)
3. Edit Voucher Campaign page:
- Start Date, End Date drop-downs should not allow selecting d

[2020-04-24 14:42] ElenaBelyavskaya opened #75 "Feedback section on the mobile app"
As a customer I want to be able to send my feedback about the app

[2020-04-24 14:43] ElenaBelyavskaya opened #76 "Feedback messaging in admin portal"
As admin user responsible for customer communication I want to be able to view feedback messages from customers and respond to them

[2020-04-24 14:45] ElenaBelyavskaya opened #77 "Rating partners"
As a customer I want to be able to rate a partner and leave a feedback message

[2020-04-24 14:50] ElenaBelyavskaya opened #78 "Partner rates on mobile UI"
As a user I want to be able to see rate by partner based on experience of customers with this partner

[2020-04-24 14:51] ElenaBelyavskaya opened #79 "Partner messaging via admin portal"
As a partner user I want to be able to respond to the feedback sent by my customers

[2020-04-24 14:53] ElenaBelyavskaya opened #80 "Partner rates in admin panel"
As admin user with access to Partners I want to see average rate of this partner based of customers' estimations

[2020-04-24 14:54] ElenaBelyavskaya opened #81 "Geolocation of vouchers shown in admin panel"
As admin user working with vouchers I want to see map with all active vouchers marked on it

[2020-04-24 14:57] ElenaBelyavskaya opened #82 "Partners on the map in admin"
As admin user working with partners I want to see locations of all the organisations on the map

[2020-04-24 14:58] ElenaBelyavskaya opened #83 "Sending vouchers to existing customer"
As an owner of voucher I want to be able to send it to another customer of the platform

**AC's**
1. Sending voucher - Happy case
GIVEN I have  a voucher bought
WHEN I open my voucher
THEN I can send it to my friend with the app by _scanning QR code of my friend OR_** inputting the email with which my friend is registered on the platform
 AND the voucher will disappear from my wallet and appear on

[2020-04-24 15:00] ElenaBelyavskaya opened #84 "Notify customer when voucher is received"
As a customer receiving voucher from another customer of the app I want to be notified when I get a voucher

[2020-04-27 07:05] ElenaBelyavskaya opened #85 "Share voucher with friends"
As a customer of the app I want to be able to recommend a voucher to my friend/s to whom this could be useful or interesting

[2020-04-27 07:10] ElenaBelyavskaya opened #86 "Notify customers about expiration of their vouchers"
As an owner of a voucher with a fixed expiration date I want to be warned that the voucher espires soon

[2020-04-27 07:13] ElenaBelyavskaya opened #87 "Show redeemed and expired vouchers in mobile"
As an owner of vouchers I want to see in the Vouchers screen redeemed and expired vouchers (separately from the active ones)

[2020-04-27 07:16] ElenaBelyavskaya opened #88 "Admin UI for push notifications"
As admin user working with notifications I want to be able to create notifications via admin portal

[2020-04-27 07:18] ElenaBelyavskaya opened #89 "Images in push notifications"
As admin user working with notifications I want to be able to make push notifications  brighter using images

[2020-04-27 07:19] ElenaBelyavskaya opened #90 "Targeted push notifications"
As admin user working with notifications I want to be able to define target customers for notifications, e.g. by country/language

[2020-04-27 07:21] ElenaBelyavskaya opened #91 "Disabling push notifications"
As a customer of the mobile app I want to be able to disable and enable push notifications via the Settings section of the app

[2020-04-27 07:22] ElenaBelyavskaya opened #92 "Editing Personal Details by customer"
As a mobile customer I want to be able to edit my Personal details, in particular to add a country (and phone number?)

[2020-04-27 07:23] ElenaBelyavskaya opened #93 "Message to customers buying vouchers"
As a partner issuing vouchers I want to be able to send a thanks automated message to customers who bought my vouchers

[2020-04-27 07:24] ElenaBelyavskaya opened #94 "Invitation to clients from partners to use the platform"
As a partner joined to the platform I want to invite my loyal customers to install the app

**AC's**
1.	Using QR code by partner
GIVEN I have a business registered on the platform (with KYC passed or not yet)
WHEN I open the details of the business
THEN I can find and copy QR code OR direct installation URL for inviting customers to the platform on behalf of this business (the code/link should emb

[2020-04-27 07:24] ElenaBelyavskaya opened #95 "Mark new vouchers"
As a customer of the app viewing vouchers I want to see which of them are new (maybe popular ones as well)

[2020-04-27 14:50] ElenaBelyavskaya opened #96 "Rename "My Organizations" section"
1. Rename "My Organizations" section
1.1. For the Partner access, the section should be named "My business entities"
1.2. For the super-admin access (and other admins with access to all Partners), the section should be named "Program "

2. In the Partner cards (on creating or editing), "partner" should be respectively renamed to:
2.1. "Business unit" in case of Partner access
2.2. "program member"

[2020-04-28 05:54] #42 closed

[2020-04-28 05:54] vitaliidasaev commented on #42
all subtasks deployed

[2020-04-29 06:03] #60 closed

[2020-04-29 09:43] PaterSantyago opened #97 "Clean-up Falcon dependencies"
Following components contains Falcon dependencies, that should be replaced with MAVN ones:

- MAVN.Service.AdminAPI
- MAVN.Service.CustomerAPI
- MAVN.Service.CustomerManagement
- MAVN.Service.DashboardStatistics
- MAVN.Service.EligibilityEngine
- MAVN.Service.NotificationSystemAdapter
- MAVN.Service.PushNotifications
- MAVN.Service.Referral
- MAVN.Service.Reporting
- MAVN.Service.Tiers
- MAVN.Serv

[2020-04-29 11:33] vitaliidasaev commented on #51
all subtasks deployed

[2020-04-29 11:33] #51 closed

[2020-04-30 06:34] vitaliidasaev opened #98 "As a partner admin I want to see in Dashboard the data only related for this partner"
When a partner logs in, the following sections and features should be available:

DASHBOARD: availability of data only related for this partner

- Hide Repeat customers section,
- Show New/Active/Repeat Customers filtered for partner
- Show Transactions figures related to this particular partner
- Provide Vouchers chart (for this particular partner): Purchased, Redeemed
- In the Smart Points secti

[2020-04-30 06:42] vitaliidasaev opened #99 "As a partner admin I want to see Transactions report that shows voucher transactions related to me"
TRANSACTIONS: report that shows voucher transactions related to this individual partner

Transaction types for operations with vouchers should be introduces (Voucher Reserved/Purchased/Redeemed/Expired...)

Subtasks:
1. OpenMAVN/MAVN.Service.Reporting#10
2. openmavn/mavn.service.adminapi#27
3. openmavn/mavn.frontend.backoffice#68
4. OpenMAVN/MAVN.Service.Reporting#15

[2020-04-30 07:12] vitaliidasaev opened #100 "Permissions for SME partner admin"
Introduce partner admin permissions to have functionality described in epic OpenMAVN/PM#41

[2020-04-30 19:42] #96 closed

[2020-04-30 19:43] #100 closed

[2020-05-04 09:02] starkmsu commented on #46
@ElenaBelyavskaya , please convert this to a label and close the task

[2020-05-04 09:02] starkmsu commented on #41
@ElenaBelyavskaya , please convert this to a label and close the task

[2020-05-04 09:02] starkmsu commented on #49
@ElenaBelyavskaya , please convert this to a label and close the task

[2020-05-05 06:20] pddimitrova commented on #69
@ElenaBelyavskaya Is this related to Bought Vouchers somehow? We already have a list of Bought vouchers on the Wallet page and adding Transaction History on the same screen will overcrowd it.

[2020-05-05 06:33] pddimitrova commented on #27
@starkmsu Will there be an endpoint returning all cities within a country that have voucher offers?

[2020-05-05 06:43] pddimitrova commented on #54
@MarlonMaercz has the design team been informed of this need? Currently, the design consists of only the finalised purchases.

[2020-05-05 07:18] MarlonMaercz commented on #46
Label for Social Epic has been created. Closing this issue as it is no longer required.

[2020-05-05 07:18] #46 closed

[2020-05-05 07:22] MarlonMaercz commented on #49
Label for "Smart Vouchers" has been created and attributed to relevant stories. Closing this Epic as it is no longer required.

[2020-05-05 07:22] #49 closed

[2020-05-05 07:56] MarlonMaercz commented on #57
This story only covers the page to view purchased vouchers. Viewing the additional details for the vouchers are covered in #53

[2020-05-05 08:09] MarlonMaercz commented on #69
Moving back to Analysis as we need to more clearly define how we want this to be set up and designed on the mobile app.
@ElenaBelyavskaya @MarlonMaercz

[2020-05-05 08:14] MarlonMaercz commented on #59
@pddimitrova Please share the file containing strings in the mobile app

[2020-05-06 07:55] starkmsu commented on #22
@lAnubisl , please mark completed steps in the list above

[2020-05-06 07:55] starkmsu commented on #22
@SandraBaidak , what is pending on this task?

[2020-05-06 08:19] SandraBaidak commented on #22
@starkmsu It is completed and uploaded by Nikolay Anastasov.

[2020-05-06 08:20] vitaliidasaev commented on #22
@SandraBaidak this gdoc (https://docs.google.com/document/d/1UZJawnSA47umqmbNLFvmUqsqhiRB4NEA2b3zZaYrZ70/edit#heading=h.q6pxbi2d7tgj)
 was converted to .md-file (https://github.com/OpenMAVN/Welcome/blob/master/Developer-Documentation.md - which also available via url https://open.mavn.ch/Developer-Documentation)

[2020-05-06 08:22] starkmsu commented on #58
@pddimitrova , if there shouldn't be any more mobile subtasks then please move this story to 'Ready for Development' category

[2020-05-06 08:55] starkmsu commented on #62
@MarlonMaercz , @ElenaBelyavskaya , do we allow to add multiple locations for SME? if we do then how do we select what locations are available for some particular voucher campaign? If there is only 1 location for a partner it can be returned as a location for a voucher campaign but there might be a case that only some subset of existing locations supports this voucher campaign. I suggest to add lo

[2020-05-06 11:59] starkmsu commented on #99
@vitaliidasaev , are any frontend subtasks needed in this story?

[2020-05-06 12:00] starkmsu commented on #98
@MarlonMaercz , @ElenaBelyavskaya , please add a clear definition on how to calculate required data for a specific partner

[2020-05-07 08:25] #22 closed

[2020-05-07 09:32] MarlonMaercz commented on #62
For the scope of this story, the geolocation will be based on the SME's location(s) section; an SME can have multiple locations, each with a corresponding address and point on a map.

A voucher campaign will be for all locations of the business, regardless of how many locations there are (i.e. 1 voucher to 1 business to n locations). The ability to define vouchers based on a number of SME location

[2020-05-07 14:26] ElenaBelyavskaya commented on #98
@starkmsu, @vitaliidasaev I have commented and added mockups, please review

[2020-05-08 10:41] starkmsu commented on #98
@ElenaBelyavskaya , please update text description as well, so we don't need to search for required part in the picture.

[2020-05-12 07:13] MarlonMaercz opened #101 "Quick Launch button on Admin Portal"
As a user of the admin portal, I want to be able to access the most useful functions of the admin portal via a quick launch button, in order to quickly access key features easily.

Quick launch options should be: Create voucher, Edit SME (my organization). New options can be added in the future based on user feedback.

Acceptance Criteria:
1. View quick launch button on every page.
1.1 Quick launc

[2020-05-12 07:56] ElenaBelyavskaya opened #102 "deliver"

[2020-05-12 08:13] ElenaBelyavskaya opened #103 "View campaign and voucher participants"
As an SME, I want to see who (which customers) have bought my vouchers.

Enable the use to click the number, if a voucher has been bought, and lead the user to the Voucher campaign screen where a table on top of everything is shown with all buyer and basic information:
![image](https://user-images.githubusercontent.com/62890062/81658094-c1e04000-9438-11ea-9630-ac89ddc16dec.png)

On the page like t

[2020-05-12 10:05] starkmsu opened #104 "Smart vouchers reservation monitoring job"
For a fail case described in #29 (point 9.b from fail cases list) we need to implement the logic to properly process vouchers hanged in Reserved state

[2020-05-13 06:54] ElenaBelyavskaya commented on #43
@starkmsu what's the complexity with allowing campaigns with vouchers price = 0?
We need to provide this option: some of the companies might like to initiate a promo once and invite their clients to get a custom or a services for free.

[2020-05-13 08:05] MarlonMaercz opened #105 "Upgrade Flutter to version 1.17.2"
https://medium.com/flutter/announcing-flutter-1-17-4182d8af7f8e

[2020-05-13 09:35] starkmsu commented on #43
@ElenaBelyavskaya , not large, I will add a subtask to properly process such vouchers as well.

[2020-05-13 11:57] vitaliidasaev commented on #43
@ElenaBelyavskaya point 3. "To proceed with campaigns, complete providing required information in My Profile" - instead "My Profile" perhaps should be "your Business Unit". Please consider.

[2020-05-14 07:13] ElenaBelyavskaya opened #106 "Different currencies for vouchers"
As an SME I want to issue vouchers in my local currency.
As a mobile user I want to see prices of vouchers in actual different currencies.

**AC's**
1. ADMIN
1.1. GIVEN I am logged in as admin in the admin portal
WHEN I create or edit a voucher campaign
THEN Currency for the voucher price should be shown as a separate fields (drop-down)

1.2. GIVEN I am on the New Voucher Campaign page
 And the co

[2020-05-14 08:00] MarlonMaercz opened #107 "Redeem Voucher at Partner"

[2020-05-14 08:17] MarlonMaercz opened #108 "Introduce Audit Logs"

[2020-05-14 08:43] MarlonMaercz commented on #103
@MarlonMaercz @ElenaBelyavskaya Check if sending Customer Name and email and details are GDPR compliant.

[2020-05-14 15:10] MarlonMaercz opened #109 "Email notifications for SME onboarding process"
As an SME owner
I want to receive email notifications about changes in my registration
In order to know when I have been verified to the system and can create voucher campaigns, or need to provide additional information.

Acceptance Criteria:
**1. Receive email upon registration**
**Given** I am an SME owner
**When** I register to the admin portal
**Then** I should receive an email welcoming me to

[2020-05-14 15:11] MarlonMaercz opened #110 "Audit Log"
Implement audit logs for the system.

Detail below what type of events and data should be logged.
1. ....

[2020-05-14 15:12] MarlonMaercz opened #111 "Update Field names in Admin Portal"

[2020-05-15 08:01] #74 closed

[2020-05-15 12:42] MarlonMaercz commented on #68
@ElenaBelyavskaya  We have implemented this already. Please update description, test the feature (move to testing column), and close when completed.

[2020-05-15 14:13] pddimitrova commented on #65
@ElenaBelyavskaya Do you mean search for campaigns?

[2020-05-18 08:01] ElenaBelyavskaya opened #112 "Voucher on mobile: Rename Redeem button to Buy"
In the voucher details, "Redeem" button is confusing - rename it to "Purchase Voucher"

@pddimitrova if "Purchase Voucher" would be too long for the button, please make it "Buy Voucher"

[2020-05-18 08:11] ElenaBelyavskaya opened #113 "Hints for Payment Integrations fields"
As an SME filling details for my company,
I want to be sure I clearly understand meaning of the payment integration fields

**AC's**
GIVEN I am logged in with SME credentials
WHEN I open the New Business form
THEN there are hints/tooltips* in the Payment Integrations section fields:
Instance Name: "If the url for accessing Payrexx is example.payrexx.com, then instance name would be "example""
Api

[2020-05-18 08:18] ElenaBelyavskaya opened #114 "Hide fields in SME Profile"
Some of the fields that are currently present in My Profile for SMEs are not required

**AC**
GIVEN I am logged in as an SME
WHEN I open My Profile
THEN I don't see the following fields:
- Company
- Job title
- Department

[2020-05-18 12:29] Mamyako commented on #58
On Android (software version 10) mobile application it looks good for me, can see the list of vouchers, can access them through application, Earn/Redeem tabs are hidden. But I can't see any related to this ticket changes on iOS (software version 13.4.1). There're only Earn/Redeem tabs are available. Will changes be applied for iOS? That's how Offers page is shown on iOS now
![image](https://user-i

[2020-05-18 12:39] pddimitrova commented on #58
@Mamyako There is no updated iOS app version yet. Will ping you as soon as I have it built.

[2020-05-18 17:17] starkmsu commented on #106
@ElenaBelyavskaya , how do we fill the dropdown for the currencies? What if country's currency is not supported by payment provider that was configured for a partner?

[2020-05-18 17:18] starkmsu commented on #26
@pddimitrova , do we need to do something on the backend for this?

[2020-05-19 06:57] Mamyako commented on #55
This ticket can't be fully tested since only Payrexx is available as payment provider. Required fields are static because no changes in payment provider can be made.

[2020-05-19 07:38] ElenaBelyavskaya opened #115 "Update and clarify fields in Transactions section of Admin Portal"
As admin user of the platform,
I want to see only useful fields in the Transactions report, in a comfortable order

**AC's**
1. Showing fields in the Transaction grid for "super-admin"
GIVEN I am logged in as admin
WHEN I open Transactions section
THEN I don't see the following fields:
- Location
- Location External ID
- Location Integration Code
- Category
- Status

AND the order and the titles o

[2020-05-19 07:46] pddimitrova commented on #26
@starkmsu I'd expect so. User must be able to login only with token, right? We have to discuss how we're going to approach the subject.

[2020-05-19 07:59] pddimitrova commented on #69
@ElenaBelyavskaya Since we have both Transactions and Dashboard(which actually shows the transactions), which one are we referring to here?

[2020-05-19 08:01] ElenaBelyavskaya opened #116 "Add country field for businesses"
As an SME onboarded to the platform I want to be able to define my country

[2020-05-19 10:56] Mamyako commented on #57
Tested on Android 10, iOS 13.4.1 looks good as a plain list.

[2020-05-19 10:56] #57 closed

[2020-05-19 12:42] pddimitrova commented on #58
@Mamyako are we in position to close this now?

[2020-05-19 12:45] starkmsu commented on #106
@vitaliidasaev , backend would resolve the country from address/geolocation, I suggest to implement getting country supported currencies on the frontend using public API (for example - https://restcountries.eu/rest/v2/alpha/ru)

[2020-05-19 13:26] Mamyako commented on #58
Tested on iPhone iOS software version 13.4.1/ Xiaomi A2 Android software version 10

[2020-05-19 13:26] #58 closed

[2020-05-19 13:43] pddimitrova commented on #27
@MarlonMaercz @ElenaBelyavskaya What do you think is an appropriate default radius for the offers?

[2020-05-19 13:54] ElenaBelyavskaya opened #117 "Link business account to customer account in mobile app"
As an SME registered on the platform
I want to be able to link my business account to the mobile app
in order to be able to redeem vouchers issued by me from customers

Key Notes:
Add a "Linking code" to an SME entity. This code allows mobile app users to set up the ability to invalidate vouchers via the mobile app without needing credentials for the SME in the admin portal.
Linking code should be

[2020-05-19 14:14] Mamyako opened #118 "[Mobile] Voucher campaign details: Voucher Campaign Details section info is used for mobile app instead of Content For Mobile App section info"
**Environment:** iOS software version 13.4.1/ Android software version 10

**Precondition**: All fields for used Voucher have been filled in by its owner

**Steps:**

1. Log in to mobile application as a customer using credentials
2. Tap offers tab at the bottom menu of the application
3. Tap to voucher from the precondition of this ticket
4. Compare fields from Content For Mobile App section in A

[2020-05-19 15:10] MarlonMaercz opened #119 "Redeem Voucher by Scanning Voucher QR Code"
As an SME, I want to be able to invalidate vouchers from a customer via the mobile app.

SCENARIOS:
**1. Invalidate Voucher (Success)**
**Given** I am logged into the mobile app
   And I have linked my business to my account #117
**When** I scan a Voucher QR code
   And my SME ID matches the Voucher Issuer ID
**Then** I am brought to a page with details of the voucher
   And I am presented with an

[2020-05-20 08:51] MarlonMaercz commented on #119
@MarlonMaercz This is a duplicate of #107. Add details to that story and close this one.

[2020-05-20 09:57] #119 closed

[2020-05-20 10:24] Mamyako commented on #17
@vitaliidasaev @pddimitrova @starkmsu  please, take a look at this
After testing I can leave some notes to be reviewed:
1.	I can’t see that ‘Redeem offer’ button has been renamed to ‘Buy voucher’
2.	In case of successful payment, the web site page should show The message: "Congratulations, your payment was successful!". For now it’s “Your payment was successful.”
3.	The buttons on the customer web

[2020-05-20 10:42] Mamyako commented on #52
@pddimitrova please, take a look at this:
1.	After discussion with Elena Belyavskaya, we found that Number of available vouchers should be shown in voucher campaign details. For now it’s not implemented.
2.	Owner (partner) name isn’t changes to "Offer unavailable" message if vouchers are over
![8](https://user-images.githubusercontent.com/65350611/82437157-a4961c00-9a9f-11ea-9b8c-50c75b337d3a.jpg)

[2020-05-20 10:50] pddimitrova commented on #52
@starkmsu Aren't only available campaigns loaded?
@Mamyako @ElenaBelyavskaya For voucher count, this is not implemented in the provided design. If it is necessary, we need to discuss it with the designer and apply accordingly.

[2020-05-20 10:50] starkmsu commented on #118
This is BE bug

[2020-05-20 12:01] ElenaBelyavskaya commented on #55
@Mamyako Vasilisa we go with just Payrexx at this stage, so this is fine.

[2020-05-20 12:02] ElenaBelyavskaya commented on #55
Successfully tested on the demo env admin portal.

[2020-05-20 12:06] #55 closed

[2020-05-20 12:09] Mamyako commented on #41
@ElenaBelyavskaya @starkmsu please, take a look to this comment
There’re my notes to this ticket:
1.	Contact Details part - the fields should be made Non-mandatory, but now they are mandatory
2.	Statuses aren’t shown in Transaction menu
![10](https://user-images.githubusercontent.com/65350611/82443847-d95ba080-9aaa-11ea-8b0c-a857c5c587bb.jpg)
3.	Password can be changed from the current to a new on

[2020-05-20 12:18] ElenaBelyavskaya commented on #52
@pddimitrova we had the number of remaining vouchers before, I didn't expect it would be removed, but I see your point re the design mockup. Please let us know if you need an edited design mockup to return the number of vouchers to the offer or it can be done without assistance from designer?

@MarlonMaercz any objections? I believe number of vouchers is useful for the user, and also from the mark

[2020-05-20 12:26] ElenaBelyavskaya commented on #52
@pddimitrova you are right, we decided not to show vouchers out of stock in the offers; I edited the description.
@Mamyako the partner name will just be there, and we show only offers where there are yet some vouchers.

[2020-05-20 12:30] starkmsu commented on #41
@Mamyako , missing tx status would be added in OpenMAVN/MAVN.Service.Reporting#15 under story OpenMAVN/PM#99

[2020-05-20 12:35] starkmsu commented on #52
About this issue: ""Owner (partner) name isn’t changes to "Offer unavailable" message if vouchers are over""
@pddimitrova ,  this is for a case when a customer bought a voucher but haven't redeemed it before voucher campaign expiration. So such voucher should have Expired status and be removed from the list of bought vouchers. So we can only see voucher buy operation in operations history.

[2020-05-20 13:06] ElenaBelyavskaya commented on #17
@pddimitrova, @vitaliidasaev please let us know which of the comments from @Mamyako ^ can be fixed today.
For the other ones, we will raise a story for enhancements.

Notification texts are lower priority than the other points.

[2020-05-20 13:13] pddimitrova commented on #17
@ElenaBelyavskaya @Mamyako We didn't have voucher list when this was completed. I will create a task for redirection to voucher list instead of dashboard with high priority, but it will not be fixed today.

[2020-05-20 13:38] Mamyako commented on #62
As I can see now, if location was set and then changed to non-existing location, point on a map stays at the last founded location, but Location field remains filled in with location that can not be found. After saving and reentering Business Unit, nothing changes: wrong filled location name with a point in a map.
@vitaliidasaev  @nickanastasov please, let @ElenaBelyavskaya  know can it be fixed t

[2020-05-20 13:59] ElenaBelyavskaya commented on #41
@starkmsu are all the values the same for the Status field? If they are all like "Complete" we can just hide this field, not wasting time for fixing displaying the values
CC @Mamyako

[2020-05-20 14:35] Mamyako commented on #41
Points 1, 3, 4 and 6 need to be done. @starkmsu let me and @ElenaBelyavskaya know, is it possible to fix them today?

[2020-05-20 14:58] ElenaBelyavskaya commented on #52
@starkmsu no this story is about Offers, not a list of Bought vouchers...

[2020-05-20 15:05] Mamyako commented on #52
Tested using Windows 10 (Chrome 81), Android 10, iOS 13.4.1

[2020-05-20 15:05] #52 closed

[2020-05-20 15:10] ElenaBelyavskaya commented on #17
@ElenaBelyavskaya @Mamyako to raise ticket/s for leftovers

[2020-05-20 15:10] #17 closed

[2020-05-20 15:11] Mamyako commented on #17
Tested using Windows 10 (Chrome 81), Android 10, iOS 13.4.1

[2020-05-20 15:12] ElenaBelyavskaya commented on #62
@ElenaBelyavskaya @Mamyako - we need to raise tickets for the incorrect behavior

[2020-05-20 15:14] #62 closed

[2020-05-20 15:41] Mamyako commented on #99
Can't see changes with Status column. Payment from PayPal to buy Peaching voucher was made, can see changes in Bought vouchers, but there's no changes in Transactions page for 30 minutes after transaction (after that time it appears)
![13](https://user-images.githubusercontent.com/65350611/82466610-5269f080-9ac9-11ea-8397-69afe119e6b8.jpg)
![15](https://user-images.githubusercontent.com/65350611/8

[2020-05-20 15:42] ElenaBelyavskaya commented on #29
@starkmsu can we test points
2.b
5.b
8.b
9.b
10.b?
How (if yes)?

Other points are successfully tested.

[2020-05-20 15:47] ElenaBelyavskaya commented on #41
1, 5 and 6 should be fixed.

For 3 and 4 we can raise separate stories. @ElenaBelyavskaya @Mamyako

[2020-05-20 15:50] ElenaBelyavskaya commented on #104
point 9.b from fail cases list is working, so closing this story

[2020-05-20 15:50] #104 closed

[2020-05-20 16:17] starkmsu commented on #29
@ElenaBelyavskaya , yes all these cases can be tested

[2020-05-21 06:20] ElenaBelyavskaya commented on #29
Sergey Nesterov
2.b - when last remaining voucher is available for some campaign, then start reservation flow from 2 customer accounts
Sergey Nesterov
5.b - some developer can temporarily apply incorrect payrexx URL so it won't be available
Sergey Nesterov
8.b - should be implemented in mobile app (edited)
Sergey Nesterov
9.b - don't do the payment and check that фаеук 10 minutes it's unreserved (

[2020-05-21 06:43] Mamyako opened #120 "[Admin - Desktop] New/Edit Business Unit: Point on map stays at previous location if non-existing Address is set"
**Environment:** Windows 10/ Chrome 81

**Steps:**

1. Log in to Admin Demo site
2. Click on My Business Entities menu tab
3. Click Add Business Unit button
4. Fill in all required fields (address field should be set as correct address)
5. Make sure spot on the map appears
6. Change Address to non-existing address value
7. Pay attention to the map
8. Click on Save button
9. Click Edit button for j

[2020-05-21 07:10] Mamyako opened #121 "[Admin - Desktop] New/Edit Business Unit: There's no hint for Address field"
**Environment:** Windows 10/ Chrome 81

**Note:** Related to ticket #62

**Steps:**

1. Log in to Admin Demo site
2. Click on My Business Entities menu tab
3. Click Add Business Unit button
4. Pay attention to the Address field

**Actual result:** There's no "Input address or mark point on the map" hint for Address field
**Expected result:** There's "Input address or mark point on the map" hint fo

[2020-05-21 07:14] MarlonMaercz commented on #63
@pddimitrova If a customer rejects location services, which offers appear on the offers list? How will the app know which offers to show from which cities?

[2020-05-21 07:43] vitaliidasaev commented on #56
@ElenaBelyavskaya
AC1. "(And my business does not show up in the list of partners when creating a campaign)". <- Need to remove or change flow of Publishing.
If the list of partners will be empty - then user couldn't create even Draft.
For Publishing we already have protection: it checks the selected Business Unit for allowing to Publish.

[2020-05-21 07:47] MarlonMaercz opened #122 "Redeem Voucher by Customer scanning SME's static QR Code"

[2020-05-21 08:01] vitaliidasaev commented on #106
@starkmsu for getting currency by country I will need code of the country in Partner entity.
For example
"Code2": "CH" or "Code3": "CHE"

[2020-05-21 08:24] MarlonMaercz commented on #106
@starkmsu Please create additional subtasks based on discussion today.

[2020-05-21 08:37] vitaliidasaev commented on #115
Regarding Category column:
we have Transaction Type and Transaction Category:
![image](https://user-images.githubusercontent.com/11960985/82540144-42005700-9b57-11ea-8b56-490521df227d.png)
Need to decide to show them or choose one of them?

[2020-05-21 08:40] vitaliidasaev commented on #115
Regarding columns Location and Status:
They are always empty now:
![image](https://user-images.githubusercontent.com/11960985/82540495-d4085f80-9b57-11ea-8453-20ebdf594372.png)
Need to decide to hide them or implement them on backend and what should be there.

[2020-05-21 08:43] vitaliidasaev commented on #115
Regarding column Company (Business ???):
We don't have this field now, need to be implemented on backend first. (FYI: @starkmsu )
If will be implemented then better to name them as "Business Unit "for SME and "Program Member" for SuperAdmin following the same naming through backoffice.

[2020-05-21 08:54] vitaliidasaev commented on #113
![image](https://user-images.githubusercontent.com/11960985/82541860-c2c05280-9b59-11ea-8442-55804a7d6cb1.png)

[2020-05-21 09:37] Mamyako commented on #118
Tested on iOS 13.4.1, Android 10

[2020-05-21 09:38] #118 closed

[2020-05-21 09:51] Mamyako opened #123 "Number of available vouchers should be implemented in Mobile app"
On voucher campaign click it must lead to a page with voucher campaign details:*

Image*
Title*
Owner (partner)*
**Number of available vouchers***
Voucher price*
Date of campaign end

[2020-05-21 10:15] Mamyako commented on #54
"8.b - for some reason mobile app is unable to open the payment page in the browser
Customer can cancel payment process from mobile app smart vouchers page"
point from ticket #29 will be tested along with this ticket

[2020-05-21 11:02] Mamyako commented on #43
Tested on Windows 10/ Chrome 81

[2020-05-21 11:02] #43 closed

[2020-05-21 11:32] MarlonMaercz opened #124 "Select Location for Offers/Map when location services are denied"
As a customer who has denied the mobile app's location services, I want to be able to select a country or city from the offers page, in order to filter out vouchers to those available to the location of my choosing.

[2020-05-21 11:40] MarlonMaercz opened #125 "Link multiple SMEs to a single mobile user"
As a customer of the mobile app who works for multiple SMEs, I want to link multiple SME's to my account, so that I can invalidate vouchers for customers of each SME using the same login account.*

Edge case:
- user links multiple SMEs; customer presents incorrect voucher (i.e. shows voucher for another SME), user is employee of other SME, and incorrectly invalidates wrong voucher.

[2020-05-21 12:05] MarlonMaercz opened #126 "Notify SME Owner when KYC Status is changed"
As a SME owner, I want to receive emails from the system when my business's KYC status is chagned, in order to know whether my business was verified and I can publish vouchers

[2020-05-21 13:24] Mamyako opened #127 "[Mobile] Fail cases of voucher buying aren't having correct Error message in Application"
**Environment:** iOS software version 13.4.1/ Android software version 10

**Note:** related to #29 ticket
**Cases:**
1. SmartVouchers component can't reserve a voucher for required campaign.
2. Payrexx is unavailable

**Note for case 1:** When last remaining voucher is available for some campaign, then reservation flow should be started from 2 customer accounts

**Steps for case 1:**

1. Log in t

[2020-05-21 13:25] Mamyako commented on #127
@ElenaBelyavskaya please, review the description

[2020-05-21 13:34] Mamyako commented on #29
Tested on Windows 10/Chrome 81, iOS 13.4.1, Android 10
8.b will be tested along with #54  ticket
2.b and 5.b will be tested along with #127  ticket

[2020-05-21 13:34] #29 closed

[2020-05-21 13:49] pddimitrova commented on #27
@starkmsu Will the sorting by proximity be implemented on the BE or mobile app? I guess it should due to the pagination.

[2020-05-21 14:07] pddimitrova commented on #63
@starkmsu @vitaliidasaev We will need to add partner logo for each partner. The pins on the map in the design are the logos

[2020-05-21 14:10] pddimitrova commented on #54
@MarlonMaercz @starkmsu Should we take out the part about continuing the purchase from this story into another one? Everything else has been completed and ready to be moved to Ready for Testing.

[2020-05-21 14:12] Mamyako opened #128 "[Mobile] User isn't redirected to Vouchers menu after buying a voucher"
**Environment:** iOS software version 13.4.1/ Android software version 10

**Precondition:** All fields for used Voucher have been filled in by its owner

**Steps:**

1. Log in to mobile application as a customer using credentials
2. Tap offers tab at the bottom menu of the application
3. Tap to any voucher to purchase it
4. Click Purchase voucher button
5. Pay for a voucher using your payment cre

[2020-05-21 14:15] pddimitrova commented on #127
@Mamyako Where (in which story) are these message requirements described?

[2020-05-21 14:17] pddimitrova commented on #128
@Mamyako Did this happen both on Android and iOS?

[2020-05-21 14:19] Mamyako commented on #127
@pddimitrova Messages should be different but their text isn't confirmed for now, that's why need some review from @ElenaBelyavskaya

[2020-05-21 14:25] Mamyako commented on #128
@pddimitrova On iOS it's sends to Fail page after Success page and Return to Mobile App button just reloads the page

[2020-05-21 14:25] pddimitrova commented on #127
@Mamyako Then this is not a bug rather than a regular story for adding messages that had not previously existed.

[2020-05-21 14:27] Mamyako commented on #127
Sure, I'll change label

[2020-05-21 14:29] pddimitrova commented on #27
@MarlonMaercz @ElenaBelyavskaya We will need copy for the following case:
User has not enabled location (location is turned off for the device)-> We need to prompt them to turn on location and try again

[2020-05-21 14:36] pddimitrova commented on #128
@Mamyako What is Fail Page? We don't have Fail Page in the mobile app?

What about Android, what is the issue there? Is it reproducible with all vouchers you have bought, or just particular ones?

[2020-05-21 14:43] Mamyako commented on #128
@pddimitrova I meant Fail page at customer website. Let me know I should create another ticket for that.
For android I tried to buy some vouchers and behavior was the same: User isn't redirected to Vouchers menu after buying a voucher

[2020-05-21 15:27] starkmsu commented on #54
@pddimitrova , you can decide this for yourself, cause backend part is finished here for both cancellation and continuation

[2020-05-21 15:29] starkmsu commented on #27
@pddimitrova , filtering is already implemented on the backend side

[2020-05-22 06:02] vitaliidasaev commented on #115
Regarding Amount (currency should be mentioned together with the value, not in the column title):
@starkmsu need to add Currency to ReportingService after this this task https://github.com/OpenMAVN/PM/issues/106 implementation

[2020-05-22 06:28] #112 closed

[2020-05-22 06:28] Mamyako commented on #112
Tested on iOS 13.4.1/ Android 10

[2020-05-22 06:32] Mamyako commented on #68
Tested on Windows 10/ Chrome 81

[2020-05-22 06:32] #68 closed

[2020-05-22 08:41] pddimitrova opened #129 "[Mobile] iOS App fails to launch correctly on first start"
When the iOS app is launched for the first time on a device, it gets stuck after the splash screen. If the app is closed and reopened, it launches normally.

[2020-05-22 11:05] Mamyako commented on #53
@pddimitrova  Can't see short code as a unique identifier, date of purchase, literal validation code. Expiration date (end of campaign) can't be seen only on Android, iOS is okay with that, but also need some improvement because it doesn't fit well for long names of vouchers
![image](https://user-images.githubusercontent.com/65350611/82661737-3b481180-9c35-11ea-8974-30af270fe7a4.png)

[2020-05-22 11:17] Mamyako opened #130 "[Mobile] iPhone status bar can't be seen on a mobile app"
**Environment:** iOS 13.4.1

**Steps:**

1. Open MAVN mobile app
2. Pay attention to the status bar of the phone

**Actual result:** Status bar can't be seen on white background
**Expected result:** Status bar is placed on a line with another color
![image.png](https://images.zenhubusercontent.com/5ebd4a65073213c8e8f366ea/4dbe3eda-4cdd-42de-a6ab-73be107db3bb)

[2020-05-22 11:24] Mamyako opened #131 "[Admin - Desktop] Edit Voucher Campaign: 400 error appears after trying to edit published voucher"
**Environment:** Windows 10/ Chrome 81

**Precondition:** There's a published voucher in a system

**Steps:**

1. Log in to Admin Demo site with opened Console
2. Click on Voucher manager tab
3. Click Edit button to published voucher from precondition
4. Change some Details in it
5. Click Save button

Actual result: 400 error appears, details haven't been changed
Expected result: ***
![image.png](

[2020-05-22 11:25] Mamyako commented on #131
@ElenaBelyavskaya please, review and add expected result or description

[2020-05-22 11:34] PaterSantyago commented on #97
Testing is not required

[2020-05-22 11:35] #97 closed

[2020-05-22 12:03] starkmsu commented on #115
@vitaliidasaev , Currency is already present in response model from Reporting service, so we need to expose the currency in AdminAPI response model. this would be done in OpenMAVN/MAVN.Service.AdminAPI#46

[2020-05-25 07:32] Mamyako commented on #114
Tested on Windows/ Chrome 81

[2020-05-25 07:32] #114 closed

[2020-05-25 08:37] vitaliidasaev commented on #113
@ElenaBelyavskaya added this hint for ApiKey:
In Payrexx Administration website go to menu item "API & Integrations" and copy "Default API Key"

[2020-05-25 10:15] starkmsu commented on #117
@MarlonMaercz , we have no story to get SME Link code from AdminPortal.
The fast solution here would be to enter SME credentials from admin portal when linking to mobile account.
If we don't want to use SME credentials then we need to implement the story to get SME link code first.

[2020-05-25 10:18] Mamyako commented on #113
Tested on Windows/ Chrome 81

[2020-05-25 10:18] #113 closed

[2020-05-25 11:39] MarlonMaercz opened #132 "Generate SME Link code in Admin Portal"
As an SME,
I want to be able to generate a code for my SME
In order to link mobile app users to invalidate voucher QR codes for my business.

Key Notes:
Add a "Linking code" to an SME entity. This code allows mobile app users to set up the ability to invalidate vouchers via the mobile app without needing credentials for the SME in the admin portal.
Linking code should be 8 digits, alphanumeric (a-

[2020-05-26 06:51] Mamyako opened #133 "[Mobile] Descriptions to vouchers aren't fully shown for mobile devices"
**Environment:** iOS software version 13.4.1/ Android software version 10

**Precondition:** Description for voucher is written in 1000 symbols

**Steps:**

1. Log in to mobile application as a customer using credentials
2. Tap offers tab at the bottom menu of the application
3. Tap to voucher from precondition to purchase it
4. Try to read the description to voucher

**Actual result:** Descriptio

[2020-05-26 06:53] MarlonMaercz commented on #117
@starkmsu story for linking created #132 .
We should not use the SME credentials as it poses a security risk. Better to add the link code from the beginning

[2020-05-26 06:57] PaterSantyago opened #134 "Migrate to PostgreSQL"
Migrate from `Falcon.Common.MsSql`/`Lykke.Common.MsSql`/`MAVN.Common.MsSql` to the `MAVN.Persistence.PostgreSQL`.

See [migration.md](https://github.com/OpenMAVN/MAVN.Persistence/migration.md) for further details.

[2020-05-26 07:01] pddimitrova commented on #127
@ElenaBelyavskaya @MarlonMaercz In order that we move this to Ready for development, we will need copies for such cases

[2020-05-26 07:05] pddimitrova commented on #117
@starkmsu What would the input validation be for the fields (Link code and ID)?

[2020-05-26 07:11] pddimitrova opened #135 "Provide copies for mobile app"
All copies from mobile app are shared in a xcls file in Google Drive in both English and German. Please go through the file and provide new copies for any item that needs changing.

[2020-05-26 07:23] ElenaBelyavskaya commented on #115
@vitaliidasaev corrected the title to "Vertical" - we now show not company, but vertical;
"Location" - we need to show the value (if possible), if not - need to substitute this field to "Company",
@starkmsu probably I should raise a separate ticket for "Location"; is it a bug or not?

[2020-05-26 07:59] ElenaBelyavskaya commented on #98
@starkmsu it's also described in the text; added some details.

[2020-05-26 08:17] pddimitrova commented on #53
@Mamyako These are visual bugs that can be fixed with a Bug/ Enhancement ticket. The fields that are missing are not there by design, so the mobile app representation is accurate to the design. If they must be added, a new story will be created with the new design

[2020-05-26 08:19] MarlonMaercz opened #136 "[Security Risk] Employee of SME shares Link code with some user."

[2020-05-26 08:35] starkmsu commented on #109
@MarlonMaercz , right now we don't have a separate role for KYC officer, so let's have a special permission level for this. By having it we can search for all users who have such permissions and send them email - bullet point number 2 in story description.
For the point number 3 - it's better to send it to email of admin user who created a partner. Cause we don't have a specific email for a partne

[2020-05-26 09:05] MarlonMaercz opened #137 "Consistent naming for Businesses in Admin Portal"
As partner/admin user of the platform
I want to avoid doubts if synonyms represent the same or different things.

**AC's**
1. Rename the following in the admin UI:
1.1. _For Super-admins_
Program Members -> Businesses
List of Program Members in OpenMAVN program -> List of Businesses in OpenMAVN program
Add Program Member -> Add Business
New Program Member -> New Business
Edit Program Member -> Edi

[2020-05-26 09:15] MarlonMaercz commented on #69
We will use the transaction tab. The design is linked in the description. Note that there is an error in the design which will be changed. Transaction list should be under the transaction tab, not the dashboard tab.

[2020-05-26 09:50] MarlonMaercz commented on #109
@starkmsu
1. Regarding KYC Officer Role, we will include it in a future story once we have full clarity on who will conduct KYC (e.g. external provider). For now we will use super admin as a placeholder, but we should be able to easily change who receives the emails should we introduce new user roles.

2. Agreed, email should be sent to the user who created the business. It is assumed that in the

[2020-05-26 09:52] Mamyako opened #138 "[Admin - Desktop] Customers: Number of records in History section can be different from the number of transactions that're really shown"
**Environment:** Windows 10/ Chrome 81

**Precondition:** Customer has made some transactions

**Steps:**

1. Log in to Admin Demo site as Admin
2. Click on Customers tab
3. Click Edit button to customer from precondition
4. Pay attention to the History section

**Actual result:** Number of records can be different from the number of transactions that're really shown
**Expected result:** Number of

[2020-05-26 09:59] vitaliidasaev commented on #137
@ElenaBelyavskaya @MarlonMaercz please clarify from perspectives of SuperAdmin and SME Admin.
For example My Businesses for SuperAdmin is too ambitious ;)

[2020-05-26 10:05] MarlonMaercz commented on #137
@vitaliidasaev Thanks for the comment. I'll consider when I do the full analysis of this story for next Grooming session

[2020-05-26 10:10] Mamyako opened #139 "[Admin - Desktop] Console error appears after trying to export transactions"
**Environment:** Windows 10/ Chrome 81

**Steps:**

1. Log in to Admin Demo site with opened console
2. Click on Transactions tab
3. Click Export button
4. Pay attention to the console

**Actual result:** Console error appeared
**Expected result:** There're no errors in console, file with the list of transactions is exported
![26.png](https://images.zenhubusercontent.com/5ebd4a65073213c8e8f366ea/b

[2020-05-26 12:07] Mamyako opened #140 "[Admin - Desktop] My Business Entities: Maximum number of characters for Phone number field should be 15 characters"
As discussed with @ElenaBelyavskaya , maximum number of characters for Phone number field should be 15 characters. So validation message for this field should also be replaced to "Field has to be between 3 and 15 characters long".

**Steps:**

1. Log in to Admin Demo site
2. Click on My business Entities tab
3. Click Add Business Unit button
4. Enter all required fields
5. Enter more than 15 chara

[2020-05-26 14:31] Mamyako opened #141 "[Admin - Desktop] Profile: Help button should lead user to manual"
Actual result: Help button leads to google site
Expected result: Help button should lead user to manual

[2020-05-26 14:38] starkmsu commented on #115
@ElenaBelyavskaya , Location is empty for now cause there is no event that can be linked to any partner location. Only Redeem operations can have this kind of data.

[2020-05-26 15:05] starkmsu commented on #115
@ElenaBelyavskaya , from the last talk with @MarlonMaercz , it seems that we won't have Location info even for smart voucher redeem operations.
So we might consider hiding this column for now.

[2020-05-27 06:57] ElenaBelyavskaya commented on #53
@pddimitrova I will ask Maria to prep design mockup with missing fields (required in the desc)

[2020-05-27 07:24] ElenaBelyavskaya commented on #115
@starkmsu we can hide Locations if we have some other data about the partner in transaction. We need to identify transactions by SME somehow.
There are Receiver Name/Email fields - can they be filled with the SME data? (right now they might be empty e.g. for voucher purchase transactions)

[2020-05-27 09:58] #99 closed

[2020-05-27 12:30] ElenaBelyavskaya opened #142 "Multilevel reference and rewards"
As a user of the mobile app,
I want to be able to refer partners
AND to get rewards from several levels on reference depth

[2020-05-27 13:07] starkmsu commented on #115
@ElenaBelyavskaya , let's hide Location and add PartnerName field

[2020-05-27 17:16] starkmsu commented on #98
@ElenaBelyavskaya , do we want to have numbers for VOUCHER PURCHASES and VOUCHER FLOWS to be calculated for the same tine frame? Or VOUCHER PURCHASES - for all time and VOUCHER FLOWS - only for specified period?

[2020-05-27 18:02] vitaliidasaev commented on #115
@ElenaBelyavskaya so the discussed result is:
* put to Amount column the currency from backend response
* hide Location column
* add Partner Name column
* reorder columns following story desc

Please update story description.

[2020-05-27 18:58] vitaliidasaev commented on #131
@Mamyako if there is 400 from backend, then also please provide response from backend.
![image](https://user-images.githubusercontent.com/11960985/83060819-bad64600-a064-11ea-89d5-389615677167.png)

@ElenaBelyavskaya what was the requirement to prohibit saving after publishing? As we can see there are disabled fields: Start Date, Amount of Vouchers, Voucher Price with Currency.
@starkmsu possibly

[2020-05-28 07:54] Mamyako opened #143 "[Mobile] There's no Current password field for mobile Change password functionality"
**Environment:** iOS software version 13.4.1/ Android software version 10

**Steps:**

1. Log in to mobile application as a customer using credentials
2. Tap on Profile to access My Account
3. Tap to Change password
4. Pay attention to existing fields

**Actual result:** There's no Current password field for mobile Change password functionality
**Expected result:** There're three necessary fields

[2020-05-28 08:26] ElenaBelyavskaya commented on #131
@starkmsu List of fields prohibited to be edited after Start_Date
@ElenaBelyavskaya to follow-up

[2020-05-28 08:27] ElenaBelyavskaya commented on #59
Copies to update
CC @MarlonMaercz

[2020-05-28 08:42] ElenaBelyavskaya commented on #115
Receiver Name/Email - is it Partner in case of vouchers? @starkmsu

[2020-05-28 09:28] ElenaBelyavskaya opened #144 "SME sending vouchers to customers"
As an SME issued some vouchers,
I want to be able to present vouchers to some of my customers

1. SME's should be able to send some created vouchers to their customers
GIVEN I am logged in as SME
WHEN I open a created voucher
THEN I can reserve certain amount of vouchers by email/s
 AND if the customers already have the app they get the voucher immediately
 AND the voucher stock is decreased by th

[2020-05-28 09:29] ElenaBelyavskaya commented on #102
For the upcoming sprint, #144 is raised instead

[2020-05-28 10:59] starkmsu commented on #115
@ElenaBelyavskaya , @vitaliidasaev , smart voucher campaign update is forbidden when the campaign is published and its start date already happened (Implemented in OpenMAVN/MAVN.Service.SmartVouchers#33). If we want to change this behavior then let's create a separate story and describe allowed changes there.

[2020-05-29 07:11] ElenaBelyavskaya commented on #131
@starkmsu commened:
@ElenaBelyavskaya , @vitaliidasaev , smart voucher campaign update is forbidden when the campaign is published and its start date already happened (Implemented in OpenMAVN/MAVN.Service.SmartVouchers#33). If we want to change this behavior then let's create a separate story and describe allowed changes there.

@starkmsu looks like it's also forbidden to move an active campaign b

[2020-05-29 07:17] ElenaBelyavskaya commented on #98
Point 2 added to the desc (decided to separate "static" widgets and those dependent on the time frame, and place the period selection in such a way that's it's 100% clear to which widgets it's applicable)

[2020-05-29 07:35] #129 closed

[2020-05-29 08:48] Mamyako opened #145 "[Admin - Desktop] Voucher manager: Status doesn't change to Completed after End Date reached"
**Environment:** Windows 10/ Chrome 83

**Precondition:** There's an expired voucher for user in a system

**Steps:**

1. Log in to Admin Demo site
2. Click on Voucher Manager tab
3. Pay attention to the status of voucher with End Date reached

**Actual result:** Status is Published
**Expected result:** Status is Completed
![image.png](https://images.zenhubusercontent.com/5ebd4a65073213c8e8f366ea/

[2020-05-29 08:58] Mamyako opened #146 "[Admin - Desktop] Voucher manager: End Date is different for Voucher Campaigns page and Voucher Details page"
**Environment:** Windows 10/ Chrome 83

**Steps:**

1. Log in to Admin Demo site
2. Click on Voucher manager tab
3. Click New Voucher Campaign button
4. Fill in all required fields
5. Set End Date for Voucher
6. Click Save button
7. Pay attention to the end date for this voucher on Voucher Campaigns page

**Actual result:** End Date increased by 1 day for Voucher Campaigns page
**Expected result:*

[2020-05-29 11:53] Mamyako commented on #146
Tested on Windows 10 / Chrome 83

[2020-05-29 11:53] #146 closed

[2020-05-29 12:17] Mamyako opened #147 "As a user, I can't use my current password as a new password for it's changing"
It is better to make it impossible to change the current password to the new one when the current and the new password match, and display a message like "Your current password can't be with new password"

[2020-05-29 12:19] Mamyako commented on #147
To be reviewed later by @ElenaBelyavskaya

[2020-05-29 12:22] Mamyako opened #148 "There's should be a limitation for email address field for non-existing addresses"
Theese addresses can't be used as real email addresses but they can be added in OpenMAVN system as email addresses.
![image.png](https://images.zenhubusercontent.com/5ebd4a65073213c8e8f366ea/3253f6b3-ea5d-4163-a3f6-a240544fe40b)

[2020-05-29 12:22] Mamyako commented on #148
To be reviewed by @ElenaBelyavskaya

[2020-05-29 12:28] MarlonMaercz opened #149 "Enable multiple purchases of vouchers"
SME can set voucher reservation limits for a given user (set a default "recommended" value)
Customer can select how many vouchers they want when purchasing a voucher in the mobile app.

[2020-05-29 12:30] MarlonMaercz opened #150 "Add a help section/documentation link in the admin portal"
Create a help section/user manual for MAVN.
Link it in the admin portal for easy access.

[2020-05-29 12:59] MarlonMaercz opened #151 "Global (system-wide) limit on concurrent voucher reservations"
Customer can only have x number of voucher reservations at a time, regardless of how many voucher offers there are.

[2020-05-29 13:20] pddimitrova commented on #143
@Mamyako Removing the Bugs tag since this is not a bug

[2020-05-29 13:29] ElenaBelyavskaya opened #152 "Russian UI version"
As a Russian speaking user,
I want to be able to use the platform in my native language.

[2020-05-29 13:34] ElenaBelyavskaya opened #153 "Expand list of verticals"
As an SME joining the platform,
I want to have a good choice of verticals
In order to be sure that my business falls under one of them

[2020-05-29 13:41] MarlonMaercz opened #154 "Set Voucher Expiration date"
As an SME,
I want to set the expiration date for my vouchers
So that Customers can use vouchers until a certain point in time after buying them.

[2020-05-29 13:54] ElenaBelyavskaya opened #155 "Customer data (optional fields)"
As the partner of the platform
I want to use more data about my customers
In order to be able to make my loyalty communication more efficient and targeted, in particular greeting my clients with birthday, showing to then more relevant offers, etc.

[2020-05-29 14:23] ElenaBelyavskaya opened #156 "Filter offers by vertical"
As a user of the mobile app
I want to have possibility to filter offers by vertical
In order to find offers of my interest easier.

[2020-05-29 14:34] pddimitrova commented on #53
@MarlonMaercz @ElenaBelyavskaya Do we really need to show validation code literal( in ticket description)? The user cannot use it in any way, so it’s just going to take up space and bring 0 value.
Same applies to short code. How can the user benefit from seeing it?

[2020-05-29 14:40] MarlonMaercz opened #157 "Use Voucher Code if QR code cannot be scanned"
Show Voucher Redemption code as text on voucher page
enable it to be used in order to redeem and invalidate voucher

[2020-05-29 14:40] vitaliidasaev commented on #41
@ElenaBelyavskaya @Mamyako lets create separate tickets for these too. Because this story already has huge amount of subtasks.
FYI: @starkmsu points 1 (make Contact Details fields in Location not mandatory) and 5 (saving flag HasFirstLogin) require backend changes.

[2020-05-29 14:41] MarlonMaercz commented on #53
@pddimitrova Agreed, we do not need to show the literal code. You can leave it out. I've created a separate Github Issue for the edge case where it could be required (#157)

[2020-05-29 14:43] vitaliidasaev commented on #106
@Mamyako @ElenaBelyavskaya moved to `Ready for Testing`

[2020-05-29 15:25] Mamyako opened #158 "[Admin - Desktop] My business entities: Contact Details fields are mandatory"
**Environment:** Windows 10/ Chrome 83

**Note:** Ticket is related to #41 ticket

**Steps:**

1. Log in to Admin Demo site
2. Click on My business entities tab
3. Click New Business Unit button
4. Pay attention to Contact Person Details field

**Actual result:** Contact Details fields are mandatory
**Expected result:** Contact Details fields are non-mandatory
![image.png](https://images.zenhubuse

[2020-05-29 15:32] Mamyako opened #159 "[Admin - Desktop] User doesn't sent to My account page after first system login"
**Environment:** Windows 10/ Chrome 83

**Note:** Ticket is related to #41 ticket

**Steps:**

1. Go to Admin Demo site
2. Click on Register new account button
3. Fill in all required fields with valid data
4. Verify your email
5. Log in to Admin Demo site

**Actual result:** User is on Dashboard page
**Expected result:** User is on My Profile page

[2020-05-29 15:55] Mamyako commented on #27
Decided with @ElenaBelyavskaya that radius of shown vouchers should be 20km

[2020-05-29 16:01] Mamyako opened #160 "[Admin - Desktop] My profile: User needs re-login to complete changes in My profile page"
**Environment:** Windows 10/ Chrome 83

**Note:** Ticket is related to #41 ticket

**Steps:**

1. Go to Admin Demo site
2. Click Settings tab
3. Click on My Profile tab
4. Do any changes to personal info
5. Click Submit button
6. Click on user's email at the right top corner of the page
7. Pay attention to the personal info

**Actual result:** Name and surname doesn't change. It's nessesary to re-

[2020-05-29 16:02] Mamyako commented on #41
Tested on WIndows 10 / Chrome 83

[2020-05-29 16:02] #41 closed

[2020-05-29 18:28] ElenaBelyavskaya opened #161 "Sort bought vouchers Descending"
As mobile user buying vouchers
I want to see lately bought vouchers on top of the voucher list in my app
In order to easily find just bought voucher

[2020-05-29 18:49] ElenaBelyavskaya commented on #53
We need literal code (as alternative when QR code is not working for some reason) but if it can't be applied as a function right now, I agree with @MarlonMaercz that it should be done under additional story.

[2020-05-29 19:30] ElenaBelyavskaya opened #162 "Buying several vouchers at one time"
As a mobile user
I want to be able to purchase several vouchers at one action
In order to save my time on buying vouchers one by one

[2020-05-29 19:34] ElenaBelyavskaya opened #163 "Show to customer that the voucher is already reserved"
As a mobile user, when I reserved a voucher and get back to it
I want to easily see that the voucher is already reserved by myself and be able to finalize the purchase
In order to avoid confusion or errors when trying to reserve another instance of the same voucher again.

(TBD
- Show in vouchers details instead of just Buy button, smth like "Complete purchase"
- Mark reserved vouchers among the o

[2020-05-29 19:44] ElenaBelyavskaya opened #164 "Methods of payments"
As a customer buying vouchers/participating in campaigns
I want to be able to select if I pay (a whole voucher price or a part of it) in fiat or smart points.

As an SME (platform partner) creating (voucher) campaigns
I want to be able to define
1) Possible methods of payment for the campaign
2) Allowed proportions of payment in fiat/smart points (optional)

[2020-06-01 07:08] starkmsu commented on #41
@ElenaBelyavskaya , please create separate stories for points 1 and 5 from @Mamyako notes

[2020-06-01 07:10] Mamyako commented on #41
@starkmsu They already have been created. #158 and #159

[2020-06-01 07:22] Mamyako commented on #132
@starkmsu @vitaliidasaev 1.There're a couple of console errors related to QR code appear after opening existing business entity or trying to create a new one.

![image](https://user-images.githubusercontent.com/65350611/83384714-86f67a00-a3f0-11ea-80a4-e902001f8835.png)

2. New Business Unit page looks kind of empty from the right side

![image](https://user-images.githubusercontent.com/65350611/8

[2020-06-01 07:39] Mamyako commented on #121
Tested on Windows 10/ Chrome 83

[2020-06-01 07:39] #121 closed

[2020-06-01 08:35] Mamyako commented on #128
Tested on iOS 13.4.1/ Android 10

[2020-06-01 08:35] #128 closed

[2020-06-01 08:57] Mamyako commented on #133
Tested on iOS 13.4.1/ Android 10

[2020-06-01 08:57] #133 closed

[2020-06-01 09:44] Mamyako opened #165 "Continue Purchase of Reserved Vouchers from mobile app"
Continued from #54 (backend part is supposed to be ready under #54)

As a customer who hasn't finalized purchasing a voucher
I want to be able to continue voucher payment from mobile app

1. Since a customer can only have 1 reserved voucher at a given time,
If a customer already has a reserved voucher, the customer should not be able to reserve another voucher until this reservation is over (paid

[2020-06-01 09:46] Mamyako commented on #54
Tested on Windows 10/Chrome 83
iOS 13.4.1, Android 10
"Continuing the purchase" part of ticket will be implemented in ticket #165

[2020-06-01 09:46] #54 closed

[2020-06-01 09:47] Mamyako commented on #27
Tested on iOS 13.4.1, Android 10

[2020-06-01 09:47] #27 closed

[2020-06-01 11:15] starkmsu commented on #159
@vitaliidasaev , what change is required from the backend here?

[2020-06-01 11:16] starkmsu commented on #139
@Mamyako , need to retest this after blocking story is implemented

[2020-06-01 12:08] Mamyako opened #166 "[Admin - Desktop] Currency value is RUR instead of RUB"
**Environment:** Windows 10/ Chrome 83

**Note:**  RUR currency doesn't supported by Payrexx

**Steps:**

1. Log in to Admin Demo site
2. Click on Voucher Manager tab
3. Click Add New Voucher button
4. Fill in Business Unit field
5. Click on Currency dropdown

**Actual result:** There are CHF, EUR, GBP, USD, RUR currencies
**Expected result:** There are CHF, EUR, GBP, USD, RUB currencies
![image.p

[2020-06-01 13:24] Mamyako commented on #130
Tested on iOS 13.4.1

[2020-06-01 13:24] #130 closed

[2020-06-01 13:31] Mamyako commented on #106
@starkmsu @vitaliidasaev Tere're some notes to this ticket:
1.	A default currency isn’t pre-filled based on the Country field of the company
2.	Currency can’t be chosen before Business unit field set
3.	If Start_date of the campaign > today then I should be able to change the currency in the drop-down, for now field is disabled if campaign is published
4.	GBP and EUR transactions take at least  20

[2020-06-01 13:38] Mamyako commented on #53
I faced a problem with positioning of expiration date and date of purchase in 2 columns, they can be read in a row and it looks like there's no date of purchase
![image](https://user-images.githubusercontent.com/65350611/83414496-50d3ed00-a426-11ea-8aca-5d4d00aa24b0.png)

[2020-06-01 14:28] ElenaBelyavskaya opened #167 "Tracking suspicious customer behaviour"
As admin/SME user of the platform
I want to be warned about suspicious activity of the customers
In order to be able to prevent fraudulent actions.

--------TBD
We can define a normal limit of daily purchases by one customer. If the limit is exceeded, the admin/partner gets a warning and can block the customer.

As step 1, we can start from a _max daily purchase_ setting e.g. _by vertical_, on the

[2020-06-01 16:31] ElenaBelyavskaya commented on #115
@vitaliidasaev I hope we can show Partner name in Receiver Name field, so I haven't added the new column yet, let's confirm on grooming.
Order is mentioned in the desc, we agreed to make it under this story as far as I remember.
Updated the desc for the other points and added comments about values.

[2020-06-01 17:57] ElenaBelyavskaya opened #168 "Add Expiration Date in the New Voucher UI"
As an SME issuing a new voucher
I want to be able to define Expiration Date for the new voucher campaign

**AC's**
1. Defining Expiration Date
GIVEN I am logged in with access to Voucher Manager
WHEN I create a new voucher campaign
THEN I can define Expiration Date (optional field)
 AND Expiration_Date cannot be < End_Date (if not empty)

2. Editing Expiration Date - Happy case
GIVEN a voucher cam

[2020-06-01 20:40] ElenaBelyavskaya opened #169 "Refer voucher"
As a customer who finds some offers attractive
I want to be able to refer the offers
In order my friends who might be interested use these offers
And I could be rewarded as well

**AC's**
...

---
?? Referring a partner - think if this makes sense in our model

[2020-06-02 07:26] ElenaBelyavskaya commented on #69
@pddimitrova transaction list is about all transactions, not just bought vouchers; yes, it's a separate screen (apart from the list of bought vouchers)

[2020-06-02 08:22] MarlonMaercz commented on #144
We need to split this story into 2 parts: 1) Customer exists in the system, 2) Customer does not exist and needs to download the app.

Story is not high priority at the moment, and we can defer to later sprint.

[2020-06-02 08:40] MarlonMaercz commented on #131
@ElenaBelyavskaya @starkmsu We need a list of fields that we should not be able to edit once a voucher is published.

[2020-06-02 11:42] ElenaBelyavskaya commented on #131
Edited description (listed the fields allowed to be changed: Name, Description, Image)

[2020-06-02 11:42] starkmsu commented on #94
@ElenaBelyavskaya , please describe the full flow - including AdminPortal, mobile app and AppStore/Playmarket

[2020-06-02 12:03] starkmsu commented on #168
@ElenaBelyavskaya , let's add some details to story description:
1) Expiration Date field is enabled for editing only if End date is filled - cause it doesn't make sense otherwise
2) Let's also expose a checkbox in AdminPortal 'Same as End date', so SME can't just check it instead of selecting the same date manually

[2020-06-02 12:22] pddimitrova commented on #117
@MarlonMaercz @ElenaBelyavskaya  Does it make sense to check whether the user has already linked their account and remove the options from settings if they have? Because they can link only one account to their customer account, correct?

[2020-06-02 13:15] ElenaBelyavskaya commented on #85
Duplicated by #169

[2020-06-02 13:24] ElenaBelyavskaya commented on #83
Described the case when my friend has the app.
We agreed to have additional story for the case when the friend is not yet registered in the platform, right?

[2020-06-02 13:56] ElenaBelyavskaya commented on #94
@starkmsu, added one more scenario, please review if it's enough info now

[2020-06-02 14:04] ElenaBelyavskaya commented on #144
Story is adjusted a bit and can be considered as part 1 (sending vouchers to customers with the app).

[2020-06-02 16:19] ElenaBelyavskaya opened #170 "Investigate the registration issue [Reported by customer]"
Reported on 01.06.2020 by Darlene Duran in the Telegram channel
---

"downloaded the Android Mavn app ... registered ... waited for email ...

emails came - https access blocked by both Chrome and Firefox browsers - http access permitted but Swisscom offers a helping hand to block the site ... very anti-user-friendly"

[2020-06-03 07:00] starkmsu commented on #94
@ElenaBelyavskaya , almost there - we need to add a part about referral code that should be a part of mobile pp installation URL, so mobile app can fetch it from AppStore/PlayMarket after its installation to use during customer registration process.

[2020-06-03 08:20] pddimitrova commented on #107
@MarlonMaercz @ElenaBelyavskaya What do we do if the SME scans a voucher that is not issued by them?

[2020-06-03 08:23] starkmsu commented on #115
@ElenaBelyavskaya , @MarlonMaercz , about the logic on how we fill 'Receiver Email' property:
we don't have a link to any partner location in all smart voucher operations, so we can't resolve a location. We can guess only in case this partner has only 1 configured location, and even n this case contact person email might be missing there (since we made it optional by another story).
Using admin em

[2020-06-03 09:18] MarlonMaercz commented on #107
@pddimitrova That would be AC#2. I've specified an error message, but maybe you have a cooler way to show the error feedback?

[2020-06-03 09:21] MarlonMaercz commented on #117
@pddimitrova Please check AC#3. A customer should be able to link multiple businesses.

[2020-06-03 11:43] #53 closed

[2020-06-03 11:55] pddimitrova commented on #170
@ElenaBelyavskaya Remving the Mobile label since this is not a mobile issue.

[2020-06-03 11:55] pddimitrova commented on #161
@ElenaBelyavskaya Removing Mobile label since this is purely Backend ordering.

[2020-06-03 12:18] pddimitrova commented on #83
@MarlonMaercz @ElenaBelyavskaya For this to work, we need to expose the customer's QR code somewhere. Where would we do that?

[2020-06-03 15:52] ElenaBelyavskaya commented on #115
In case with receiver, it's important to identify the exact business. Are there any issues with Receiver Name being SME's name (Name of the business)? If not, we can go with Business Name + Business Email, and business email might be empty in some cases.
Until we have a link to locations, let's use email from the only location, and if email is not defined - it's also empty in the Transactions (lat

[2020-06-03 16:15] ElenaBelyavskaya commented on #83
@pddimitrova I assumed we use the QR code button for that - the recipient clicks this button on his mobile and shows the QR code to the sender, the sender scans this QR code.
Will it work?

[2020-06-03 16:25] ElenaBelyavskaya commented on #94
@starkmsu by "referral code" do you mean the code of the partner in fact, so that we could record by whom the customer was invited?
If yes, I described it briefly by the last 3 rows of scenario 2... Or is it smth else?

[2020-06-03 16:57] ElenaBelyavskaya commented on #168
@starkmsu 1) Agree, I will add to the desc
2) I suppose it would be a rare case when Expiration date = End date, because one of the main ideas is to provide vouchers in advance, and they can be used much later...
But if you can do this option now quickly, why not, let's add it, can be used sometimes.

[2020-06-03 17:24] ElenaBelyavskaya commented on #109
For point 2, since now we base access on permissions, let's link this requirement to admin users with permissions for the Businesses section (in case a user is not superadmin, but has access to Businesses, this user should be able to do KYC too). I will mark this in the desc.

[2020-06-04 06:37] MarlonMaercz commented on #115
@starkmsu For Voucher Redemption, the SME name can be used in Receiver Name, but Receiver Email can be blank, since you rightly pointed out there is no link to a dedicated email.
CC @ElenaBelyavskaya

[2020-06-04 06:39] pddimitrova commented on #83
@ElenaBelyavskaya If you are talking about the button on the bottom bar, then no, this button. is for scanning. If we decide to use it for showing the user's own QR code, then we need to find a place where we can scan vouchers from

[2020-06-04 07:04] MarlonMaercz commented on #83
@pddimitrova Exposing receiver's QR code is not required for this story. First iteration can be done by the sender defining the email that the voucher should be sent to.

[2020-06-04 07:08] ElenaBelyavskaya commented on #83
Ah correct @pddimitrova.
I agree with @MarlonMaercz that we can start with just sending by email.
(Later on we can introduce client's QR code - we would need a separate screen/button for that)

[2020-06-04 07:26] MarlonMaercz opened #171 "[Mobile] Incorrect Text on biometric login"
Environment: Android 10

Steps:

1. Open MAVN mobile app
2. Have biometric (fingerprint) login configured

Actual result: Prompt message shows PromptTitle and PromptMessage

Expected result: Prompt should contain the proper message text as defined in https://docs.google.com/spreadsheets/d/1e38PERmWzvvK777QtuBPEFm1jAa_lVZZ/edit#gid=382811706

![image.png](https://images.zenhubusercontent.com/5e9d54

[2020-06-04 08:35] pddimitrova commented on #69
@ElenaBelyavskaya You have also attached a link for the dashboard. I suggest keeping the dashboard(the one with analytics and chart) separate from Transaction History for now and deprioritize Dashboard for MVP since it's not essential.

[2020-06-04 08:40] pddimitrova commented on #168
@ElenaBelyavskaya I suggest a small change to AC 5. If the voucher is expired, let's not show QR code for it at all, as in the design. This way, we can simplify work for SMEs because it is 100% certain they will not be able to scan expired vouchers

[2020-06-04 09:12] starkmsu commented on #94
@ElenaBelyavskaya , yes, we need to explicitly describe the flow of referral code: where it's generated, how it's added to URL/QR for SME, how mobile app get this code from AppStore/PlayMarket to pass into the registration flow, how backend should use this code from registration params

[2020-06-04 09:29] starkmsu commented on #109
@MarlonMaercz , we need email designs (at least text message), so Frontend team can create email templates.

[2020-06-04 09:35] starkmsu commented on #144
@ElenaBelyavskaya , it's not clear - how SME is supposed to enter emails for sending vouchers - 1 by 1, or with uploading CQV file with a list of emails or using some other way.

[2020-06-04 09:39] starkmsu commented on #168
@ElenaBelyavskaya , what is the expected behavior when voucher campaign has end date but have no expiration date - what is the last date when bought voucher can be redeemed? I guess - we have no end date for redemption in this case, correct?

[2020-06-04 11:08] ElenaBelyavskaya commented on #168
@starkmsu correct - if Expiration date is empty, it mean the voucher is set by the SME as unlimited (can be redeemed whenever)

[2020-06-04 11:13] ElenaBelyavskaya commented on #168
@pddimitrova looks like point 4 is not quite accurate too, I will adjust it so that the vouchers are invalidated by the SME.
And you are right re point 5, no need in QR codes for expired vouchers (let's not give possibility to try to redeem them since it should not be possible anyway).

[2020-06-04 12:48] ElenaBelyavskaya commented on #127
@pddimitrova for now added the texts to https://docs.google.com/spreadsheets/d/1e38PERmWzvvK777QtuBPEFm1jAa_lVZZ/edit#gid=382811706, rows 599 and 600

[2020-06-04 13:06] pddimitrova commented on #127
@ElenaBelyavskaya These are the errors we need messages for:
SmartVoucherCampaignNotFound
SmartVoucherCampaignNotActive
NoAvailableVouchers
PaymentProviderError
SmartVoucherNotFound
CustomerHaveAnotherReservedVoucher

I can create a mobile subtask as soon as we have the copies.

[2020-06-04 14:05] ElenaBelyavskaya commented on #127
@pddimitrova 2 of these errors are mentioned in the story already (NoAvailableVouchers, PaymentProviderError)
- SmartVoucherCampaignNotActive - In this case voucher should not be available to buy, so basically the text of the error is not required (right now Not Active offers are not even displayed in the offer list).
- SmartVoucherCampaignNotFound, SmartVoucherNotFound - what is the difference be

[2020-06-04 16:02] MarlonMaercz commented on #109
@starkmsu I'll detail the email text and link in description. You can already create repo issues since the content of text is not a blocker.

[2020-06-04 16:46] ElenaBelyavskaya commented on #94
@starkmsu I have added an explanation to point 1 re the referral code, and also described creating a referral link between customer and business separately, in point 3.
Should you need other/deeper details, let's describe them in sub-tasks.

[2020-06-05 08:13] pddimitrova commented on #107
@ElenaBelyavskaya @MarlonMaercz
These are the error codes we could potentially get when trying to redeem a voucher:
SmartVoucherNotFound
SmartVoucherCampaignNotFound
SmartVoucherCampaignNotActive
WrongSmartVoucherValidationCode
SellerCustomerIsNotALinkedPartner
SellerCustomerIsNotTheVoucherIssuer
VoucherIsNotInCorrectStatusToBeRedeemed

Could you please provide copies for the error messages?

[2020-06-05 13:27] starkmsu commented on #98
@MarlonMaercz , @ElenaBelyavskaya , what should we show in case vouchers were bought in different currencies? Should it be converted into some base currency or shown as separate sum-currency pairs?

[2020-06-08 09:20] ElenaBelyavskaya commented on #144
@starkmsu we can start with a text field: SME enters one email or several emails via separator - this is a min requirement (because in case of one or two emails it doesn't make sense to ask SME to upload a file);
If in this sprint it's doable, please add the ability to import a list of emails via CSV/Excel file - this is optional for this sprint.

[2020-06-08 09:29] ElenaBelyavskaya commented on #144
@starkmsu I also added requirement for the format verification of the emails to the desc

[2020-06-08 12:22] MarlonMaercz commented on #154
Issue is a duplicate of #168

[2020-06-08 12:22] #154 closed

[2020-06-08 12:27] MarlonMaercz opened #172 "Link Mobile app to contacts list"

[2020-06-09 07:07] pddimitrova commented on #124
@MarlonMaercz For AC N1, where is this search located?
Where do we fetch this list of places from? Our own BE? Maps API? Keep in mind searching for location has a different free quota for Google maps which, in my previous experiences, is used up fairly quickly. I can find more details if needed.

AC1/ACs It seems there is a UI component that is not described here, I am referring the part "WHEN I c

[2020-06-09 07:08] pddimitrova commented on #165
@ElenaBelyavskaya @MarlonMaercz This has already been done as part of #54 . Is there anything else that needs to be done that is missing in the current implementation?

[2020-06-09 07:25] vitaliidasaev commented on #132
@Mamyako 1 and 2 fixes deployed.
Representation for partner creation changed.

[2020-06-09 08:03] #105 closed

[2020-06-09 08:20] starkmsu commented on #144
@ElenaBelyavskaya , it's not clear - what should happen when a customer with provided email is not registered in the system?

[2020-06-09 08:25] ElenaBelyavskaya commented on #124
@pddimitrova I have adjusted the desc - it appeared the text taken into '<>' was not displayed :)
So "WHEN I click on the" is about the Pin icon that should be introduced for the purpose of selecting the location manually.

AC1: I propose to place the Pin icon at the top of the Offers page (if we don't have a design mockup soon)

It would be efficient to use the list of locations attached to the m

[2020-06-09 08:34] vitaliidasaev commented on #94
@pddimitrova we need deeplink for installation url.
@starkmsu @ElenaBelyavskaya there is two ways:
1) to put referralCode into url in admin-api
2) on FE

[2020-06-09 08:59] MarlonMaercz commented on #108
@starkmsu Please update description. @ElenaBelyavskaya Please create separate story for Error logs

[2020-06-09 12:03] starkmsu commented on #94
@vitaliidasaev , since FE is overloaded and BE has free hands, let's do installation URL generation on the BE side

[2020-06-09 12:23] starkmsu commented on #94
@pddimitrova , please paste links here to our mobile app on both AppStore and Google Play

[2020-06-09 14:47] ElenaBelyavskaya commented on #107
@starkmsu I need your help with BE error below - I made guesses about them based on the names, but got questions, please review:
1) SmartVoucherNotFound – should not happen to Active voucher. Sergey is it some fail case (though the voucher itself is okay)?
If yes, then the text should be: “Something went wrong. Please try again later.”
2) SmartVoucherCampaignNotFound – Sergey, can this be related

[2020-06-09 20:48] ElenaBelyavskaya commented on #144
@starkmsu the SME should get warning in the confirmation message.
I have divided the desc into two cases to make it more obvious.

[2020-06-10 07:13] #171 closed

[2020-06-10 07:16] starkmsu commented on #107
@MarlonMaercz , in the description we have this part:
"And the customer is notified via push notification (insert story here)"
Should we implement push notification here? If yes then we need a text for it, if no then we need a separate story for it.

[2020-06-10 07:32] pddimitrova commented on #165
@MarlonMaercz Part 2 of the ACs is not as simple as it sounds.
Vouchers have pagination, which means that there is no guarantee that we have info whether a certain voucher is pending or not at the moment when the user attempts to purchase it.
I suggest another simpler method for handling this for now:
The BE returns an error when a user tries to purchase ANY voucher while they have one in pending

[2020-06-10 10:57] MarlonMaercz opened #173 "Push Notification for Voucher Redemption"

[2020-06-10 11:00] MarlonMaercz commented on #107
@starkmsu Thanks for spotting that, I've updated the description and added the link to a separate story for the push notifications

[2020-06-10 11:44] ElenaBelyavskaya commented on #165
@pddimitrova by ANY ("The BE returns an error when a user tries to purchase ANY voucher while they have one in pending state."), do you mean incl. voucher of _any other type_, not just another instance of the same voucher? If yes, that is not good from the user perspective - we should let the user buy a voucher, even if the user has another voucher reserved (otherwise we would trouble users with a

[2020-06-10 11:52] pddimitrova commented on #165
@starkmsu Could you please confirm or am I wrong?
If I have reserved a voucher, I cannot reserve any other voucher from any campaign?
@ElenaBelyavskaya Yes, if BE returns an error that the voucher is already reserved, we can fetch the payment URL and redirect them to continue their purchase. Shouldn't take more that 1-2 additional seconds

[2020-06-11 09:19] starkmsu commented on #109
@MarlonMaercz , @ElenaBelyavskaya , do we send this email in parallel with email verification email or after SME email was verified?

[2020-06-11 11:25] starkmsu commented on #144
@ElenaBelyavskaya , @MarlonMaercz , who can give such presents for existing customers, only admin user who created the corresponding voucher campaign? Or super admin as well?

[2020-06-11 11:35] starkmsu commented on #124
@MarlonMaercz , @ElenaBelyavskaya , do we need to show only countries where partner locations with active voucher campaigns are present? Or the whole list of possible countries that we presented for residence selection?

[2020-06-11 13:59] pddimitrova commented on #165
@ElenaBelyavskaya I actually made a mistake in my previous comment. In order to get url for payment of the reserved voucher, we need to fetch ALL vouchers, then find the one that is the same as this campaign and only then fetch the payment url. We can do this if you find it very important and is worth the effort*, but I suggest at this point we just show error " You have already reserved this vouc

[2020-06-15 10:11] ElenaBelyavskaya commented on #124
@starkmsu when grooming we decided to show the list of countries _where there are some vouchers_. Are you ok with it from the tech/development perspective?

[2020-06-15 11:55] ElenaBelyavskaya commented on #165
@pddimitrova and how big is the effort? Definitely, the initially proposed approach is much more comfortable for the user, than the alternative one. If we follow the simplified alternative way with the error, at least it's preferable to add a link to go directly to this voucher in the wallet after the error-which will add some dev effort too, but still will require additional actions from the user

[2020-06-15 12:09] ElenaBelyavskaya commented on #165
In fact once the feature with finalizing the purchase via Wallet is working, we can go with a button 'Finalize purchase in your wallet' for vouchers with reservations in the Offers list, click on which would lead to this reserved voucher instance in the customer's wallet.

[2020-06-15 12:09] pddimitrova commented on #165
@ElenaBelyavskaya Dev effort will be fine, we can do it in 2 days max. The flow seems a bit excessive since we will fetch all vouchers. Filter, then do another request and then filter and do another request, which takes time and the user just stands there waiting.
@starkmsu Is there an option to add an endpoint that we can use in such case?
For example, the user has a voucher from campaign X reser

[2020-06-15 12:12] ElenaBelyavskaya commented on #165
@pddimitrova I added one more comment - probably the effort would be less (since it's inside the particular voucher - less filtering, right?)

[2020-06-15 12:16] starkmsu commented on #124
@MarlonMaercz , @ElenaBelyavskaya , it would be much easier to show the list of countries where existing partners have some locations. Can we use that approach, without additional filtering for existing active voucher campaigns?

[2020-06-15 15:01] #132 closed

[2020-06-15 15:13] ElenaBelyavskaya commented on #56
@vitaliidasaev in case of the KYC statuses except for "Verified" the hint below is not correct - please change the text to "Requires the company KYC to be passed" (in my case, the company has all the details):
![image](https://user-images.githubusercontent.com/62890062/84674731-9cf55600-af2b-11ea-972f-4d17b7cdcb77.png)

[2020-06-15 15:32] ElenaBelyavskaya commented on #56
We need to enhance selection of statuses, proposals:

1. Only statuses available for selection should be shown in the drop-down
2. "Requires Data" option:
2.1. Rename to "Request information"
2.2. Show in Histories (for admin and for the SME) as "Information required"
2.3. Comment should be mandatory for this option
3. Statuses in the drop-down should be shown in real order:
- Unverified
- In revi

[2020-06-15 15:42] ElenaBelyavskaya commented on #115
@vitaliidasaev @starkmsu where does the "Additional Information" value come from?

[2020-06-15 15:49] ElenaBelyavskaya commented on #109
@starkmsu we send
1- email upon registration
2 - email upon email verification
This should be the 2nd email (confirming the fact of email verification, not in addition to email after verification).
CC @MarlonMaercz

[2020-06-15 15:57] ElenaBelyavskaya commented on #109
@vitaliidasaev
There are some deviations from the desc:
1) We need a real name instead of just "User". But since we don't have a person name on this stage, we can go with just "Hello," as a first line
2) Phrase is missing: "You're almost ready to start creating digital vouchers for your business"
3) Can it be [CREATE YOUR BUSINESS PROFILE] button, not just the link?
![image](https://user-images.gi

[2020-06-16 06:13] ElenaBelyavskaya commented on #166
Fixed

[2020-06-16 06:13] #166 closed

[2020-06-16 06:35] ElenaBelyavskaya commented on #83
Testing with Android.
I have successfully sent a voucher to a friend. Trying to send another voucher (to any email, registered or not) - but the Send Voucher button is not available (it's grey and hanging). I had to go back, close the app and enter PIN again - it helped to enable the button.
@pddimitrova is it some known issue?

[2020-06-16 06:39] ElenaBelyavskaya commented on #161
Tested

[2020-06-16 06:39] #161 closed

[2020-06-16 06:44] pddimitrova commented on #83
@ElenaBelyavskaya Yes, and it's been fixed, but I have not released a new build. Let me create a new build with some fixes and I will ping you to check it out :)

[2020-06-16 06:53] ElenaBelyavskaya commented on #117
@MarlonMaercz I have successfully tested N1 and made a basis to test N3.
Could you please test N2 (I cannot do it because I already have linked an account) and finalize testing N3 (it should be tested from 2 accounts and I am blocked because could not reset password on my second account)?

[2020-06-16 12:15] starkmsu commented on #115
@ElenaBelyavskaya , INfo generation logic is hardcoded in Reporting component, so we can change it if required.

[2020-06-16 13:43] ElenaBelyavskaya commented on #117
OK the issue with resetting a password was fixed and I could successfully complete the testing (Android)

[2020-06-16 13:43] #117 closed

[2020-06-16 13:55] #83 closed

[2020-06-16 14:00] ElenaBelyavskaya commented on #115
@starkmsu ok but I mean what is put in the "Additional Info" column now, and which way? :)

[2020-06-16 14:10] starkmsu commented on #115
@ElenaBelyavskaya , for now it's being filled only for smart voucher sold events with a voucher short code, all other events have empty info field.

[2020-06-16 14:13] ElenaBelyavskaya commented on #168
@starkmsu please double-check: on my end, expiration date doesn't appear when creating a voucher, though the End Date is defined:
![image](https://user-images.githubusercontent.com/62890062/84785836-41d76800-afec-11ea-8788-d86087d9ae69.png)
And same for editing the voucher.

[2020-06-16 15:12] #115 closed

[2020-06-17 06:30] pddimitrova commented on #127
The errors with provided error message are handled. CustomerHaveAnotherReservedVoucher will be handled in #165. Closing this.

[2020-06-17 06:30] #127 closed

[2020-06-17 06:32] pddimitrova commented on #165
@ElenaBelyavskaya No, it doesn't make any difference unless @starkmsu agrees to expose an endpoint to help with this flow.

[2020-06-17 07:07] ElenaBelyavskaya commented on #145
In the case below status didn't change to Completed - it became Unknown:
![image](https://user-images.githubusercontent.com/62890062/84866150-9ecd2f80-b079-11ea-8610-3de9088bad3d.png)

Please review

[2020-06-17 07:46] starkmsu commented on #165
@pddimitrova , I suggest to adjust on BE the implementation like this:
On reservation attempt, BE will return error code (None or PendingReservations) and a list of short codes of existing reserved vouchers (for the future - in case we allow concurrent reservations for different campaigns)
Is that ok?

[2020-06-17 07:48] starkmsu commented on #165
Actually it makes sense to return only 1 short code, cause if we allow only 1 pending reservation at a time then 1 code is enough, if we allow multiple then only 1 voucher from the same campaign might prevent the current reservation attempt.

[2020-06-17 07:53] pddimitrova commented on #165
@starkmsu Hm can you give an example? This is the json that is currently returned when user has a reserved voucher:
`{
	"error": "CustomerHaveAnotherReservedVoucher",
	"message": "The customer have another voucher in reserved state so he can't reserve another one"
}`

Do you mean we'll add another property in the json?

How about exposing a GET /paymentUrl that accepts a campaignId and returns the

[2020-06-17 08:40] ElenaBelyavskaya commented on #165
@pddimitrova @starkmsu I have adjusted the desc counting a second reservation cannot be done currently, in accordance with the approach we all seem to agree

[2020-06-17 09:19] pddimitrova commented on #135
@ElenaBelyavskaya @MarlonMaercz Latest arb files can be found [here](https://drive.google.com/drive/folders/1FX6W5r2U68z4-OYJJXpTLdJgeYFyQn8R?usp=sharing)

[2020-06-17 09:41] starkmsu commented on #173
@MarlonMaercz , please add a text for push notification to story description

[2020-06-17 09:53] ElenaBelyavskaya commented on #124
@starkmsu from the result perspective, this should be the same (or almost the same), because creating partners (with location) is aimed at issuing vouchers; so I don't mind.
@MarlonMaercz any objections?

[2020-06-17 21:03] ElenaBelyavskaya commented on #63
@pddimitrova I tested and got some comments:
N1: Location is defined, but the radius is too small (not 2 km)
N2: If geo location is off on my mobile, the app requests to turn it on, but after I do so, the map is shown:
- for the whole world (should be Switzerland)
- without offers (the map should show pins for offers)
N3: Failed to select vouchers - nothing happens when I tap the pins

[2020-06-17 21:16] ElenaBelyavskaya commented on #106
Cannot confirm N3 - always getting "Seems you are not connected" error...
@MarlonMaercz, @pddimitrova could you please try too on your devices?

[2020-06-17 21:21] ElenaBelyavskaya commented on #69
All good, just statuses should be in the past: Received, Sent, Purchased...

[2020-06-18 07:15] pddimitrova commented on #106
@ElenaBelyavskaya Voucher reservation takes a long time to process on the BE and frequently times out. @starkmsu Have you noticed such tendencies?
Moreover, the mobile app does not change in any way in respect to different currencies, just shows them as received. There was no work done for this issue on the mobile app.

[2020-06-18 07:18] pddimitrova commented on #63
@ElenaBelyavskaya Ok, I will fix the issues. However, make sure your app is updated to the latest version since clicking pins was only introduced in it

[2020-06-18 07:54] pddimitrova commented on #124
@ElenaBelyavskaya I think I can find a nice map icon that we can use for the map from now on and we can use the current pin icon to select location

[2020-06-18 08:46] starkmsu commented on #168
@vitaliidasaev , please check this issue from Elena

[2020-06-18 08:48] starkmsu commented on #98
@MarlonMaercz , @ElenaBelyavskaya,  ^^^

[2020-06-18 08:59] starkmsu commented on #145
@vitaliidasaev , please check statuses mapping on FE, 'Completed' status is returned from AdminApi in this case

[2020-06-18 11:24] ElenaBelyavskaya commented on #124
@pddimitrova @MarlonMaercz I have verified that the description complies with what we have agreed on during the grooming call today (just made a couple really minor improvements)

[2020-06-18 13:33] ElenaBelyavskaya commented on #63
@pddimitrova yes, I tested with the latest version. So it's weird pins are not working on my end...

[2020-06-19 06:47] vitaliidasaev commented on #56
@ElenaBelyavskaya changes deployed. Please recheck and confirm.

[2020-06-19 15:31] ElenaBelyavskaya commented on #98
@starkmsu good point :) This was described when we just had one currency...
Later on, we need to have a base currency, which will be selected by the user, and data would be adjusted to this currency selection.
For the time being, until we implement the base currency selection flow, we have 2 options:
1) Convert sums for all other currencies to CHF (using CHF as a base currency in fact)
2) Show sep

[2020-06-19 17:00] vitaliidasaev commented on #106
Default currency works when company address is filled correctly and country was successfully determined.

This is correct behaviour, because the list of currencies depends on company configuration.

Fixed validation for End date and ability to save before Start date

@ElenaBelyavskaya please recheck and confirm.

[2020-06-22 06:45] MarlonMaercz commented on #144
@starkmsu From the Admin Portal, we should only allow admin users who created the voucher campaign.
We should not allow super admins to have this capability at the beginning.

[2020-06-22 06:49] MarlonMaercz commented on #98
@starkmsu For the dashboard data, the admin portal should use a base currency CHF (additional ones to be added later and set as a admin portal setting). Therefore please proceed with option 1. from @ElenaBelyavskaya 's comment.

[2020-06-22 07:38] MarlonMaercz commented on #108
@vitaliidasaev Please add subtasks for Frontend

[2020-06-22 07:41] MarlonMaercz commented on #158
@MarlonMaercz @ElenaBelyavskaya Check behavior to see if all fields need to be mandatory.

[2020-06-22 07:47] vitaliidasaev commented on #158
For now backend requires:
If any of the fields filled (First Name or Last Name or Phone or Email)
then it requires all others to be filled.

I expected that all fields are optional and can be filled separately.

[2020-06-22 10:10] ElenaBelyavskaya commented on #56
@vitaliidasaev selection/availability of statuses looks great.
Though each time I open an SME on edit (with any status), the field shows 'New KYC Status', while it should show the currently saved status (same as in the grid):
![image](https://user-images.githubusercontent.com/62890062/85275874-41721d80-b481-11ea-9c9b-872707245871.png)

[2020-06-22 16:29] MarlonMaercz opened #174 "Changes to Account page on Mobile App"
1. Replace Community with My Account on navigation bar
2. Remove My Account icon from explore page
3. Change ordering of items on My Account page

Acceptance Criteria:
1. My Account as a main navigation item
Given I am signed in to the mobile app
When I check on the navigation icons
Then I see the following icons in order:
Explore; Offers; QR Code Scanner; Wallet; (My) Account

(2. Hide Account Ic

[2020-06-23 06:29] pddimitrova commented on #174
@MarlonMaercz Sign in with fingerprint needs to stay at the bottom together with logout, these are different kind of options that should not sit between other options. Do you think that'd be ok?

[2020-06-23 06:47] MarlonMaercz commented on #174
@pddimitrova Ok sure that's fine. Description has been updated.

[2020-06-23 07:06] ElenaBelyavskaya commented on #106
@vitaliidasaev
2. I agree, but it's worth adding a hint about that's, e.g.: when the company is not selected yet, we show "Select company first" in the Currency field

[2020-06-23 07:08] ElenaBelyavskaya commented on #106
Issue with N3 stands on my end...

[2020-06-23 07:24] ElenaBelyavskaya commented on #94
Didn't find invite QR code/url on admin, @vitaliidasaev do we have it?

[2020-06-23 07:28] ElenaBelyavskaya commented on #109
@starkmsu cannot register today - getting some new "Technical problem":
![image](https://user-images.githubusercontent.com/62890062/85373704-f107c800-b533-11ea-93da-4bcf8b73b1d9.png)

[2020-06-23 07:34] ElenaBelyavskaya commented on #109
The email came, but it's not adjusted...

[2020-06-23 14:35] pddimitrova commented on #124
@MarlonMaercz @ElenaBelyavskaya I have a suggestion concerning a problem.
When a user selects a country, we cannot center it directly on the map, because there is no such method in Google maps and we do not have enough information to do it manually.

However, I have the following suggestion. When the user selects a country, we fetch the campaigns for the selected country. I suggest when we add the

[2020-06-24 09:45] starkmsu commented on #109
@ElenaBelyavskaya , @MarlonMaercz , please retest found issues - fixes were deployed to the internal env.

[2020-06-25 06:14] vitaliidasaev commented on #56
@ElenaBelyavskaya this dropdown has only available statuses to which you can change.
It doesn't make sense to show current status there because it already shown in History and in Basic Info.
![image](https://user-images.githubusercontent.com/11960985/85665584-38bd5980-b6c4-11ea-8567-6f01930ffc6e.png)

[2020-06-25 06:57] ElenaBelyavskaya commented on #56
@vitaliidasaev I agree, but in case we have the current status shown behind - without this, user might not see the status (would need to find it), so it's not convenient that the status is in another section.
Let's place "KYC Status" in the KYC Status section - this is the most proper section for this field (first Status, then New Status).

[2020-06-25 07:02] ElenaBelyavskaya commented on #109
@starkmsu can this be tested on https://demo.mavn.ch/ or by some other url?

[2020-06-25 07:42] vitaliidasaev commented on #56
Ok, thanks. Now it is more clear. Will do.

[2020-06-25 12:35] vitaliidasaev commented on #137
To follow using the same logic in Voucher Campaign: rename to `Business` there too.

[2020-06-25 14:34] vitaliidasaev commented on #106
2. Added tooltip in the Currency field: "Select Business first" because there was renaming in this story #137

[2020-06-25 14:34] vitaliidasaev commented on #56
Current KYC Status added.

[2020-06-25 17:58] #56 closed

[2020-06-25 18:07] #137 closed

[2020-06-25 18:11] #145 closed

[2020-06-25 18:18] ElenaBelyavskaya commented on #126
@starkmsu I am not getting the emails... Any dependency on whether the Verified/Rejected status is given for the 1st time or not?

[2020-06-25 18:32] #109 closed

[2020-06-25 19:45] #69 closed

[2020-06-25 19:48] #174 closed

[2020-06-25 19:56] ElenaBelyavskaya commented on #124
@pddimitrova that's a great proposal actually-this way we would definitely show offers on the map (if there is at least one for the country), less chances for an empty map.

I am failing to test the selection of countries - I have denied to detect location (and geo location is Off), but the app still shows offers

[2020-06-25 20:13] ElenaBelyavskaya commented on #63
Tested version 0.1.0+1:
N1,2: with Geo location **On** - no offers displayed (both in the list and on the map);
with Geo location **Off** - 2 offers displayed.

Also not sure why only 2 - there are more published offers in admin, and addresses look defined on the map in the admin)
(Maybe the issue with geo location is similar to that in #124)

[2020-06-26 06:39] pddimitrova commented on #124
@ElenaBelyavskaya There is no build containing this functionality yet. I'll create one now, but we should be mindful of our CI build minutes, we're close to running out

[2020-06-26 06:43] pddimitrova commented on #124
@ElenaBelyavskaya Please download build 0.1.0+2 which does include this functionality

[2020-06-26 06:44] pddimitrova commented on #63
@ElenaBelyavskaya Please review build 0.1.0+2

[2020-06-29 07:33] ElenaBelyavskaya commented on #158
We earlier agreed and implemented that these fields should be optional: https://github.com/openmavn/mavn.service.partnermanagement/issues/50

[2020-06-29 07:50] vitaliidasaev commented on #158
@IliyanIlievPH because every fields should be optional -
please remove validations for all fields to be filled
https://github.com/OpenMAVN/MAVN.Service.PartnerManagement/pull/51/files#diff-b31b3e91b6e4e0f4b8bafba77151ce74R16
and in admin-api https://github.com/OpenMAVN/MAVN.Service.AdminAPI/pull/63/files#diff-14c46ed1a7e3100265ca306f681b6179R35

[2020-06-29 12:07] ElenaBelyavskaya opened #175 "Homepage of the mobile app"

[2020-06-29 13:21] ElenaBelyavskaya commented on #175
@pddimitrova @MarlonMaercz I briefly listed the ideas for _homepage_ in this ticket (as we discussed)

[2020-06-29 15:15] vitaliidasaev commented on #126
@IliyanIlievPH the emails sent to wrong email-address now (to super admin who changed the KYC status).
Expected behaviour:
The emails should be sent to Partner Admin Email, please fix this.

![image](https://user-images.githubusercontent.com/11960985/86023531-790a3800-ba34-11ea-920f-a601c5ec63b0.png)

FYI: @ElenaBelyavskaya

[2020-06-30 07:57] vitaliidasaev commented on #126
@ElenaBelyavskaya email to Partner Admin fixed, please recheck.
![image](https://user-images.githubusercontent.com/11960985/86099666-7b19d880-bac0-11ea-9ed6-b7191159ec6b.png)

[2020-06-30 16:31] MarlonMaercz commented on #63
@pddimitrova
AC1: Pass
**AC2: Fail: I was unable to see all offers when focused on Switzerland. This could be achieved when selecting Switzerland explicitly. However only 2 locations showed up, and I suspect there should be more...**
AC3: Pass
CC @ElenaBelyavskaya

[2020-06-30 16:46] MarlonMaercz commented on #124
@pddimitrova
1a. Pass
**1b. Fail: No list is presented**
1c. Pass*: suggestion is shown. However, the suggestion must be clicked. It is not recognized if I fully type the country and press enter or done. Will raise a separate ticket for this.
2. Pass
3. Pass* : Does not work when changing location from map and going back to offers screen. Raise a new story for this.
4. Pass
CC @ElenaBelyavskaya

[2020-06-30 16:53] MarlonMaercz opened #176 "Add new columns to Voucher Manager"
Add the following columns to the Voucher Manager page:

1. Business: Business/Partner who published the voucher
2. Location: Country where the voucher is published. (i.e. country of Business)

[2020-07-01 06:46] pddimitrova commented on #63
@MarlonMaercz In Switzerland there were only 2 locations indeed and they're both shown.

[2020-07-02 07:27] ElenaBelyavskaya commented on #175
@MarlonMaercz @pddimitrova new designs (I am discussing my feedback with Maria, we can collect feedback from everybody):
https://projects.invisionapp.com/share/CDXW3DXGW35#/screens
https://projects.invisionapp.com/share/Z9XW3E75FJR#/screens
https://projects.invisionapp.com/share/DFXW3EN9K3Q#/screens

"Expiry" label should be removed from the expiring voucher.

[2020-07-02 07:44] #158 closed

[2020-07-16 16:59] starkmsu commented on #175
@MarlonMaercz , since we can't properly map location to a city, in case user location is known, we have to somehow filter locations. I suggest using some default radius around user location.

[2020-07-17 06:59] MarlonMaercz commented on #175
@starkmsu ok default radius is fine. Is there already some radius applied for offers?

[2020-07-17 07:17] #63 closed

[2020-07-17 07:18] #165 closed